In [3]:
# Import the Numpy library
import numpy as np
# Import the Pandas library
import pandas as pd
# Import 'tree' from scikit-learn library
from sklearn import tree

In [4]:
df = pd.read_csv('C:\Program Files\Git\IDS-Project\Data_EDA.csv', encoding = "ISO-8859-1")

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
df.head()

,POP_CODE,POP_NAME,ORDER_STATUS,DOC_DATE_YEAR,DOC_DATE_QUARTER_YR,DOC_DATE_MONTH_YR,DOC_DATE_DAYS_MNTH,DOC_DATE_WEEK_MNTH,DOC_DATE_WEEK_YR,TOWN_CODE,TOWN_NAME,LOCALITY_CODE,LOCALITY_NAME,SLOCALITY_CODE,SLOCALITY_NAME,POS_TYPE_CODE,POS_TYPE_NAME,MARKET_CODE,MARKET_NAME,STREET_CODE,STREET_NAME,COMPANY_RANK,RANK,RURAL_CODE,RURAL_BOOL,CHANNEL_CODE,SUB_CHANNEL_CODE,ELEMENT_CODE,SUB_ELEMENT_CODE
0,9001001003,ALAM MEDICAL STORE,0,2014,1,2,28,4,8,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
1,9001001003,ALAM MEDICAL STORE,0,2014,1,3,31,1,10,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
2,9001001003,ALAM MEDICAL STORE,1,2014,1,3,31,2,11,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
3,9001001003,ALAM MEDICAL STORE,1,2014,1,3,31,3,12,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
4,9001001003,ALAM MEDICAL STORE,0,2014,1,3,31,4,13,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7

In [12]:
df.tail()

,POP_CODE,POP_NAME,ORDER_STATUS,DOC_DATE_YEAR,DOC_DATE_QUARTER_YR,DOC_DATE_MONTH_YR,DOC_DATE_DAYS_MNTH,DOC_DATE_WEEK_MNTH,DOC_DATE_WEEK_YR,TOWN_CODE,TOWN_NAME,LOCALITY_CODE,LOCALITY_NAME,SLOCALITY_CODE,SLOCALITY_NAME,POS_TYPE_CODE,POS_TYPE_NAME,MARKET_CODE,MARKET_NAME,STREET_CODE,STREET_NAME,COMPANY_RANK,RANK,RURAL_CODE,RURAL_BOOL,CHANNEL_CODE,SUB_CHANNEL_CODE,ELEMENT_CODE,SUB_ELEMENT_CODE
120654,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,1,36,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120655,27005005064,WAQAR GENERAL STORE,1,2017,3,9,30,2,37,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120656,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,4,38,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120657,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,4,39,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120658,27005005064,WAQAR GENERAL STORE,1,2017,4,10,31,1,40,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4

In [9]:
# Create the target and features numpy arrays: target, features_one
target = df["ORDER_STATUS"].values
features_one = df[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [10]:
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

In [11]:
# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.5345137   0.04385156  0.1410132   0.21440599  0.06621555]
0.757191755277

In [13]:
# Create the target and features numpy arrays: target, features_one
target = df["ORDER_STATUS"].values
features_one = df[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [14]:
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

In [15]:
# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.13241648  0.56860328  0.00564152  0.01659267  0.03035194  0.06605288
  0.12161625  0.01279035  0.0013548   0.00185913  0.01331482  0.00225862
  0.00507209  0.00977903  0.01229615]
0.973752475986

In [16]:
# Create a new array with the added features: features_two
features_two = df[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [17]:
#Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two
max_depth = 10 
min_samples_split = 5
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

In [18]:
#Print the score of the new decison tree
print(my_tree_two.score(features_two, target))

0.625523168599

In [19]:
# Create a new array with the added features: features_two
features_two = df[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [24]:
#Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two
max_depth = 10 
min_samples_split = 5
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

In [25]:
#Print the score of the new decison tree
print(my_tree_two.score(features_two, target))

0.638651074516

In [26]:
# Import the `RandomForestClassifier`
from sklearn.ensemble import RandomForestClassifier

In [27]:
features_forest = df[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [28]:
# Building and fitting my_forest
forest = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(features_forest, target)

In [29]:
# Print the score of the fitted random forest
print(my_forest.score(features_forest, target))

0.639222934054

In [31]:
# Compute predictions on our test set features then print the length of the prediction vector
test_features = df[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

120659

In [32]:
features_forest = df[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [33]:
# Building and fitting my_forest
forest = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(features_forest, target)

In [34]:
# Print the score of the fitted random forest
print(my_forest.score(features_forest, target))

0.647013484282

In [35]:
# Compute predictions on our test set features then print the length of the prediction vector
test_features = df[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

120659

In [36]:
#Request and print the `.feature_importances_` attribute
print(my_tree_two.feature_importances_)
print(my_forest.feature_importances_)

[  1.03826687e-01   1.16660956e-01   1.11023400e-02   2.27958173e-02
   8.43608999e-02   1.17291302e-01   2.30349923e-01   3.12731710e-02
   5.49769273e-05   5.45851181e-03   1.21504843e-01   1.75275312e-02
   2.99617807e-02   3.57183243e-02   7.21129358e-02]
[ 0.09654352  0.14745635  0.06557124  0.0464759   0.10069439  0.11121866
  0.14809951  0.06273845  0.00429415  0.01307569  0.06444434  0.01123729
  0.02605215  0.03729309  0.06480527]

In [37]:
#Compute and print the mean accuracy score for both models
print(my_tree_two.score(features_two, target))
print(my_forest.score(features_two, target))

0.638651074516
0.647013484282