In [8]:
# Import the Numpy library
import numpy as np
# Import the Pandas library
import pandas as pd
# Import 'tree' from scikit-learn library
from sklearn import tree

In [9]:
df = pd.read_csv('C:\Program Files\Git\IDS-Project\Data_EDA.csv', encoding = "ISO-8859-1")

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df.head()

,POP_CODE,POP_NAME,ORDER_STATUS,DOC_DATE_YEAR,DOC_DATE_QUARTER_YR,DOC_DATE_MONTH_YR,DOC_DATE_DAYS_MNTH,DOC_DATE_WEEK_MNTH,DOC_DATE_WEEK_YR,TOWN_CODE,TOWN_NAME,LOCALITY_CODE,LOCALITY_NAME,SLOCALITY_CODE,SLOCALITY_NAME,POS_TYPE_CODE,POS_TYPE_NAME,MARKET_CODE,MARKET_NAME,STREET_CODE,STREET_NAME,COMPANY_RANK,RANK,RURAL_CODE,RURAL_BOOL,CHANNEL_CODE,SUB_CHANNEL_CODE,ELEMENT_CODE,SUB_ELEMENT_CODE
0,9001001003,ALAM MEDICAL STORE,0,2014,1,2,28,4,8,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
1,9001001003,ALAM MEDICAL STORE,0,2014,1,3,31,1,10,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
2,9001001003,ALAM MEDICAL STORE,1,2014,1,3,31,2,11,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
3,9001001003,ALAM MEDICAL STORE,1,2014,1,3,31,3,12,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7
4,9001001003,ALAM MEDICAL STORE,0,2014,1,3,31,4,13,9,SOCIETY,3,BAHADURABAD,20,CHOTTI MARKET,7,Medical Store,622,FIRST CHORANGI,322,K.E.S.C NATIONAL COLLEGE,3,5,1,Y,1,1,3,7

In [7]:
df.tail()

,POP_CODE,POP_NAME,ORDER_STATUS,DOC_DATE_YEAR,DOC_DATE_QUARTER_YR,DOC_DATE_MONTH_YR,DOC_DATE_DAYS_MNTH,DOC_DATE_WEEK_MNTH,DOC_DATE_WEEK_YR,TOWN_CODE,TOWN_NAME,LOCALITY_CODE,LOCALITY_NAME,SLOCALITY_CODE,SLOCALITY_NAME,POS_TYPE_CODE,POS_TYPE_NAME,MARKET_CODE,MARKET_NAME,STREET_CODE,STREET_NAME,COMPANY_RANK,RANK,RURAL_CODE,RURAL_BOOL,CHANNEL_CODE,SUB_CHANNEL_CODE,ELEMENT_CODE,SUB_ELEMENT_CODE
120654,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,1,36,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120655,27005005064,WAQAR GENERAL STORE,1,2017,3,9,30,2,37,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120656,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,4,38,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120657,27005005064,WAQAR GENERAL STORE,0,2017,3,9,30,4,39,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4
120658,27005005064,WAQAR GENERAL STORE,1,2017,4,10,31,1,40,27,SADDAR,34,SULTANABAD,100,RAILWAY COLONY,4,General Store,1631,RAILWAY COLONY UN LEASED PLOTS,134,CITY STATION,3,5,0,N,1,1,2,4

In [15]:
df_numeric = df._get_numeric_data()

In [18]:
df_numeric.head()

,POP_CODE,ORDER_STATUS,DOC_DATE_YEAR,DOC_DATE_QUARTER_YR,DOC_DATE_MONTH_YR,DOC_DATE_DAYS_MNTH,DOC_DATE_WEEK_MNTH,DOC_DATE_WEEK_YR,TOWN_CODE,LOCALITY_CODE,SLOCALITY_CODE,POS_TYPE_CODE,MARKET_CODE,STREET_CODE,COMPANY_RANK,RANK,RURAL_CODE,CHANNEL_CODE,SUB_CHANNEL_CODE,ELEMENT_CODE,SUB_ELEMENT_CODE
0,9001001003,0,2014,1,2,28,4,8,9,3,20,7,622,322,3,5,1,1,1,3,7
1,9001001003,0,2014,1,3,31,1,10,9,3,20,7,622,322,3,5,1,1,1,3,7
2,9001001003,1,2014,1,3,31,2,11,9,3,20,7,622,322,3,5,1,1,1,3,7
3,9001001003,1,2014,1,3,31,3,12,9,3,20,7,622,322,3,5,1,1,1,3,7
4,9001001003,0,2014,1,3,31,4,13,9,3,20,7,622,322,3,5,1,1,1,3,7

In [19]:
y = df_numeric.ORDER_STATUS # define the target variable (dependent variable) as y

In [57]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

In [86]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df_numeric, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(96527, 21) (96527,)
(24132, 21) (24132,)

In [70]:
# Cross Validation Classification Accuracy
kfold = model_selection.KFold(n_splits=10, random_state=0)
model = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(model, X_test, y_test, cv=kfold, scoring=scoring)
print("Accuracy: %.3f (%.3f)" % (results.mean(), results.std()))

Accuracy: 0.560 (0.005)

In [73]:
# Cross Validation Classification LogLoss
kfold = model_selection.KFold(n_splits=10, random_state=0)
model = LogisticRegression()
scoring = 'neg_log_loss'
results = model_selection.cross_val_score(model, X_test, y_test, cv=kfold, scoring=scoring)
print("Logloss: %.3f (%.3f)" % (results.mean(), results.std()))

Logloss: -0.682 (0.002)

In [76]:
# Cross Validation Classification ROC AUC
kfold = model_selection.KFold(n_splits=10, random_state=0)
model = LogisticRegression()
scoring = 'roc_auc'
results = model_selection.cross_val_score(model, X_test, y_test, cv=kfold, scoring=scoring)
print("AUC: %.3f (%.3f)" % (results.mean(), results.std()))

AUC: 0.553 (0.011)

In [91]:
# Cross Validation Classification Confusion Matrix
from sklearn.metrics import confusion_matrix
model = LogisticRegression()
model.fit(X_train, y_train)
predicted = model.predict(X_test)
matrix = confusion_matrix(y_test, predicted)
print(matrix)

[[    0 10605]
 [    0 13527]]

In [95]:
# Cross Validation Classification Report
from sklearn.metrics import classification_report
model = LogisticRegression()
model.fit(X_train, y_train)
predicted = model.predict(X_test)
report = classification_report(y_test, predicted)
print(report)

             precision    recall  f1-score   support

          0       0.00      0.00      0.00     10605
          1       0.56      1.00      0.72     13527

avg / total       0.31      0.56      0.40     24132

C:\Users\AFFAN\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [96]:
# Create the target and features numpy arrays: target, features_one
target = X_test["ORDER_STATUS"].values
features_one = X_test[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [97]:
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

In [98]:
# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.51503578  0.03408629  0.16488046  0.23562116  0.05037631]
0.901334327863

In [99]:
# Create the target and features numpy arrays: target, features_one
target = X_test["ORDER_STATUS"].values
features_one = X_test[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [100]:
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

In [101]:
# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.1106807   0.4590542   0.00509052  0.02810062  0.05199191  0.10520008
  0.1702016   0.01450271  0.00127233  0.00324244  0.01607896  0.00307234
  0.0050112   0.01292659  0.0135738 ]
0.994281452014

In [102]:
# Create a new array with the added features: features_two
features_two = X_test[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [103]:
#Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two
max_depth = 10 
min_samples_split = 5
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

In [104]:
#Print the score of the new decison tree
print(my_tree_two.score(features_two, target))

0.643336648434

In [105]:
# Create a new array with the added features: features_two
features_two = X_test[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [106]:
#Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two
max_depth = 10 
min_samples_split = 5
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

In [107]:
#Print the score of the new decison tree
print(my_tree_two.score(features_two, target))

0.652909000497

In [108]:
# Import the `RandomForestClassifier`
from sklearn.ensemble import RandomForestClassifier

In [109]:
features_forest = X_test[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values

In [110]:
# Building and fitting my_forest
forest = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(features_forest, target)

In [111]:
# Print the score of the fitted random forest
print(my_forest.score(features_forest, target))

0.668780043096

In [112]:
# Compute predictions on our test set features then print the length of the prediction vector
test_features = X_test[["DOC_DATE_WEEK_YR", "TOWN_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

24132

In [113]:
features_forest = X_test[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values

In [114]:
# Building and fitting my_forest
forest = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(features_forest, target)

In [115]:
# Print the score of the fitted random forest
print(my_forest.score(features_forest, target))

0.676902038787

In [116]:
# Compute predictions on our test set features then print the length of the prediction vector
test_features = X_test[["DOC_DATE_YEAR", "DOC_DATE_WEEK_YR", "TOWN_CODE", "LOCALITY_CODE", "SLOCALITY_CODE", "STREET_CODE", "MARKET_CODE", "POS_TYPE_CODE", "COMPANY_RANK", "RANK", "RURAL_CODE", "CHANNEL_CODE", "SUB_CHANNEL_CODE", "ELEMENT_CODE", "SUB_ELEMENT_CODE"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

24132

In [117]:
#Request and print the `.feature_importances_` attribute
print(my_tree_two.feature_importances_)
print(my_forest.feature_importances_)

[ 0.10004542  0.20529727  0.00924332  0.03005469  0.09115554  0.1198132
  0.19386325  0.02892184  0.00257641  0.00536443  0.1128367   0.01176212
  0.00619581  0.0251287   0.0577413 ]
[ 0.11446034  0.21840601  0.05614343  0.04350716  0.09037956  0.11547378
  0.1383302   0.04959013  0.00703495  0.00802552  0.04974019  0.00752474
  0.01889692  0.03200331  0.05048376]

In [118]:
#Compute and print the mean accuracy score for both models
print(my_tree_two.score(features_two, target))
print(my_forest.score(features_two, target))

0.652909000497
0.676902038787