### To do
* Make a geography hierarchy representation
* Delete recodes and make new ones
* Delete PJP and DSR variables
* Delete OWNER_NAME and GPS_COORDINATES variables
* Correct value assignment w.r.t. POP Name
* Date has to be splited into its intermediary components
* Remove 0 and 999 from HHT_SRNO
* Can we get the names and/or names of USER_ENTRY
* What do 1 and 2 represent in PAYMENT_MODE?
* Why abnormal ranking in RANK and COMPANY_RANK?
* Remove inactive POPs
POS Active '1' or Inactive '0' for business. What is meant by POS Active?
* What does 1 and 2 mean in AREATYPE?
1 means rural and 2 means urban
* What does SHOPPER_TYPE RG, L1 and 01 mean?
* What does GEOCODE 1 and 3 refer to?
* Add names to ids of ELEMENT, SUB_ELEMENT, CHANNEL, AND SUB_CHANNEL

In [1]:
import os
import pandas as pd

In [2]:
BASE_DIR = os.getcwd()
file_path = '%s/../Data.csv'%BASE_DIR

In [3]:
df = pd.read_csv(file_path, encoding="latin-1")

In [4]:
df.describe()

,LOCALITY,SLOCALITY,SECTION,POS_TYPE_CODE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,...,PAYMENT_MODE,COMPANY_RANK,RANK,ACTIVE,AREATYPE,GEOCODE,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
count,355178.000000,355178.000000,355178.000000,355178.000000,3.551780e+05,355178.000000,355178.000000,355177.000000,355178.000000,355177.000000,...,354664.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000
mean,2.869820,2.115193,25.587900,5.513168,1.516422e+11,0.442381,9.341829,1125.131388,9.358080,105.492898,...,1.050972,1.462585,3.115981,0.744908,1.999665,1.518974,5.513168,1.040979,1.427304,2.320544
std,1.442698,1.157632,16.175905,3.328402,1.366982e+10,0.496670,9.023358,323.627075,6.936887,4.926169,...,0.219941,2.977828,0.413137,0.435913,0.018301,0.876707,3.328402,0.216452,1.020330,0.852102
min,1.000000,1.000000,1.000000,1.000000,1.000091e+06,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,3.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,10.000000,4.000000,1.400120e+11,0.000000,2.000000,1002.000000,2.000000,102.000000,...,1.000000,1.000000,3.000000,0.000000,2.000000,1.000000,4.000000,1.000000,1.000000,2.000000
50%,3.000000,2.000000,30.000000,4.000000,1.500121e+11,0.000000,11.000000,1005.000000,11.000000,104.000000,...,1.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,1.000000,1.000000,2.000000
75%,4.000000,3.000000,41.000000,7.000000,1.600181e+11,1.000000,13.000000,1013.000000,13.000000,106.000000,...,1.000000,1.000000,3.000000,1.000000,2.000000,3.000000,7.000000,1.000000,1.000000,3.000000
max,8.000000,7.000000,54.000000,20.000000,1.720010e+11,1.000000,2001.000000,2007.000000,26.000000,121.000000,...,2.000000,21.000000,7.000000,1.000000,2.000000,3.000000,20.000000,3.000000,4.000000,5.000000

In [5]:
df.head()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,...,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
0,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004014,AL MACCA BAKERY,1,MARTIN QUARTER,...,2,RG,-,"24.88901459,67.04905551",1,N,1,1,1,4
1,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004129,MUSHTAQ BAKERY,1,MARTIN QUARTER,...,2,RG,AHSAN JAMEEL,"24.89015118,67.04589786",1,N,1,1,1,4
2,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003092,ABBAS BROTHERS BAKERY & CONFECTIONERY (S,9,SADDAR,...,2,01,-,"24.86038398,67.02951905",1,N,1,1,1,4
3,T00009,SOCIETY,1,BAHADURABAD,1,CHOTTI MARKET,T00009001001010,FAREED'S BAKERY,16,BAHADURABAD,...,2,RG,SHAFIQ,"24.88451887,67.06439404",3,Y,1,1,1,4
4,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003015,CRESENT NIMCO,16,BAHADURABAD,...,2,RG,ABDUL QADIR,"24.88241835,67.06616701",3,Y,1,1,1,4

In [6]:
df.columns

Index(['TOWN', 'TOWN_DESC', 'LOCALITY', 'LOCALITY_DESC', 'SLOCALITY',
       'SLOCALITY_DESC', 'POP_CODE', 'POP_NAME', 'SECTION', 'SECTION_DESC',
       'POS_TYPE_CODE', 'POS_TYPE', 'DOC_DATE', 'DOC_NO', 'ORDER_STATUS',
       'PJP', 'REF_PJP', 'DSR', 'REF_DSR', 'HHT_SRNO', 'USER_ENTRY',
       'PAYMENT_MODE', 'MARKET_NAME', 'STREET', 'COMPANY_RANK', 'RANK',
       'ACTIVE', 'AREATYPE', 'SHOPPER_TYPE', 'OWNER_NAME', 'GPS_COORDINATES',
       'GEOCODE', 'RURAL', 'SUB_ELEMENT', 'CHANNEL', 'SUB_CHANNEL', 'ELEMENT'],
      dtype='object')

In [18]:
for field in df.columns:
    print("{0:20} {1}".format(field, df[field].nunique()))

TOWN                 7
TOWN_DESC            7
LOCALITY             8
LOCALITY_DESC        36
SLOCALITY            7
SLOCALITY_DESC       121
POP_CODE             3302
POP_NAME             2385
SECTION              54
SECTION_DESC         61
POS_TYPE_CODE        17
POS_TYPE             17
DOC_DATE             1286
DOC_NO               265999
ORDER_STATUS         2
PJP                  25
REF_PJP              24
DSR                  24
REF_DSR              20
HHT_SRNO             72
USER_ENTRY           12
PAYMENT_MODE         2
MARKET_NAME          2871
STREET               700
COMPANY_RANK         3
RANK                 5
ACTIVE               2
AREATYPE             2
SHOPPER_TYPE         3
OWNER_NAME           1089
GPS_COORDINATES      1151
GEOCODE              2
RURAL                2
SUB_ELEMENT          17
CHANNEL              3
SUB_CHANNEL          4
ELEMENT              5

### PROBLEM HERE

In [9]:
df['LOCALITY'].unique()

array([1, 2, 4, 3, 5, 6, 7, 8])

In [10]:
df['LOCALITY_DESC'].unique()

array(['JAMSHEED ROAD', 'BOHRI BAZAR', 'BAHADURABAD', 'TARIQ ROAD',
       'AB SENIA', 'CHANDNI CHOWK', 'PIB MAIN ROAD', "LINE'S AREA",
       'BURNS ROAD', 'SULTANABAD', 'M A SOCIETY', 'KASHMIR COLONY',
       'BOAT BASIN', 'DHA-5', 'MANZOOR COLONY', 'AKHTAR COLONY',
       'AZAM BASTI', 'MEHMOODABAD 123', 'CANTT', 'GIZRI', 'GREEN BELT',
       'DHA-2', 'SHIREEN JINNAH', 'CLIFTON 2TALWAR', 'PUNJAB COLONY',
       'DEHLI COLONY', 'BHUTTA VILLAGE', 'DHA-4', 'MEHMOODABAD 456',
       'QAYYUMABAD', 'DHA-6', 'DHA-7', 'CHANESAR GOTH', 'DHA-8', 'DHA-1',
       'CLIFTON 3TALWAR'], dtype=object)

In [19]:
for fid, fname in {'TOWN' : 'TOWN_DESC', 'LOCALITY' : 'LOCALITY_DESC',
                   'SLOCALITY' : 'SLOCALITY_DESC', 'POP_CODE' : 'POP_NAME',
                   'SECTION' : 'SECTION_DESC', 'POS_TYPE_CODE': 'POS_TYPE',
                   'REF_PJP' : 'PJP', 'REF_DSR' : 'DSR'}.items():
    if df[fid].nunique() != df[fname].nunique():
        print("Improper recording is done for %s"%fname)

Improper recording is done for SECTION_DESC
Improper recording is done for SLOCALITY_DESC
Improper recording is done for PJP
Improper recording is done for DSR
Improper recording is done for LOCALITY_DESC
Improper recording is done for POP_NAME

In [11]:
df['TOWN_DESC'].value_counts()

SADDAR         172904
SOCIETY         92164
PIB COLONY      78822
MEHMOODABAD      4050
CLIFTON          3154
DEFENCE          2753
KEMARI           1331
Name: TOWN_DESC, dtype: int64

In [9]:
df['LOCALITY_DESC'].value_counts()

LINE'S AREA        54023
SULTANABAD         46586
JAMSHEED ROAD      41606
PIB MAIN ROAD      37216
TARIQ ROAD         32723
M A SOCIETY        29465
BURNS ROAD         25852
BOHRI BAZAR        24058
AB SENIA           22385
BAHADURABAD        17591
CHANDNI CHOWK      12385
MANZOOR COLONY       931
BHUTTA VILLAGE       903
CANTT                728
GIZRI                711
QAYYUMABAD           650
AKHTAR COLONY        628
BOAT BASIN           604
MEHMOODABAD 456      592
KASHMIR COLONY       579
DHA-6                571
DHA-5                532
DHA-2                518
AZAM BASTI           439
SHIREEN JINNAH       428
CHANESAR GOTH        408
CLIFTON 2TALWAR      397
DEHLI COLONY         332
GREEN BELT           267
DHA-4                261
PUNJAB COLONY        241
MEHMOODABAD 123      206
CLIFTON 3TALWAR      141
DHA-7                103
DHA-1                 93
DHA-8                 25
Name: LOCALITY_DESC, dtype: int64

In [13]:
df['SLOCALITY_DESC'].value_counts()

JUTT LINE          30975
MARTIN QUARTER     28658
HIJRAT COLONY      27415
JACOB LINE         23048
ADAMJI NAGAR       18424
RATAN TULLAO       15373
AMEENABAD          14621
IQBAL COLONY       14304
RAILWAY COLONY     13212
SINDHI MUSLIM      12142
DMCHS              11984
SHARIFABAD         11271
TAYYABA SOCIETY    10243
FATMA JINAH CLY    10056
COMMERCIAL MKT      9236
LUCKY STAR          8854
KARACHI CENTER      8291
PRESS CLUB          8001
AL FALAH            7514
EMPRESS MARKET      7203
DHORAJI             6979
UK SQUARE           6401
MASHRIQ CENTER      5984
GARRI KHATA         5555
PAKISTAN CHOWK      4924
CP BARAR SCIETY     4062
NURSERY             3989
CHOTTI MARKET       3986
II CHNDRIGAR RD     2549
PIDC                2443
                   ...
ZAM ZAMA              69
MEHMOODABAD 4         68
ABBASI CHOWK          68
TOUHEED COMM          67
CHANDIO VILLAGE       67
LIAQUAT ASHRAF2       61
NSHAT COMERCIAL       59
CLIFTON BLK 4         50
STREET 1 TO 7         49
MEHMOODABAD 3         48
GAZALI ROAD           47
D SECTOR              46
BADSHAH KHAN RD       46
CLIFTON BLK 2         43
NISHTAR ROAD          41
MEHMODABAD GATE       40
MEHMOODABAD 1         40
PUNJAB ROAD           40
FATIMA JINAH RD       37
TAPOO                 36
CANTT STATION         36
GABOL COLONY          34
DAUD POTA ROAD        32
KHYBAN-E-SHAHEN       25
ITTEHAD COMM          22
FIRYA TOWN            21
STREET 8 TO 20        17
NEW BASTI             16
GHOST MKT             12
DOPTA MARKET           7
Name: SLOCALITY_DESC, dtype: int64

In [15]:
df['SLOCALITY_DESC'].unique()

array(['MARTIN QUARTER', 'PRESS CLUB', 'CHOTTI MARKET', 'SHARIFABAD',
       'COMMERCIAL MKT', 'NURSERY', 'AL FALAH', 'TAYYABA SOCIETY',
       'MASHRIQ CENTER', 'UK SQUARE', 'AMEENABAD', 'IQBAL COLONY',
       'KARACHI CENTER', 'JACOB LINE', 'RATAN TULLAO', 'HIJRAT COLONY',
       'EMPRESS MARKET', 'RAILWAY COLONY', 'JUTT LINE', 'GARRI KHATA',
       'ADAMJI NAGAR', 'LUCKY STAR', 'SINDHI MUSLIM', 'KASHMIR COLONY',
       'KHUDADAD COLONY', 'PIDC', 'II CHNDRIGAR RD', 'DMCHS',
       'CP BARAR SCIETY', 'PAKISTAN CHOWK', 'FATMA JINAH CLY',
       'HYDERABAD COLNY', 'CHINA TOWN', 'DHORAJI', 'KOKAN SOCIETY', 'PNSC',
       'BADAR COMERCIAL', 'JUNEJO TOWN', 'AZAM TOWN', '100 FIT ROAD',
       'MEHMOODABAD 1', 'BAZZARTA LINE', 'PNT COLONY', 'KHADDA MARKET',
       'UMAR COLONY', 'JAMI COMMERCIAL', 'FURNITURE MKT', 'HINDU PARA',
       'SHAH RASOL CLNY', 'KALA PUL', 'PUNJAB COLONY', 'LIAQUAT ASHRAF',
       'AWAMI CHOWK', 'MAIN BAZAR', 'TAPOO', 'SABA COMEMRCIAL',
       'JACKSON MARKET', 'CHANESAR HALT', 'D SECTOR', 'GAZALI ROAD',
       'PINDI CHOWK', 'PINGERI PAHRA', 'MASAN ROAD ', 'KARACHI ADMIN',
       'MEHMOODABAD 4', 'ALLAMA IQBAL RD', 'QASIM SHAH ROAD', 'A AREA',
       'SINDH MUSLIM', 'CLIFTON BLK 5', 'UPPER GIZRI', 'PARSI COLONY',
       'GHOST MKT', 'NEW BASTI', 'NISHTAR ROAD', 'SHEHBAZ COMM',
       'RAHAT COMERCIAL', 'SEHAR COMERCIAL', 'E SECTOR', 'B & C AREA',
       'SHIREEN JINNAH', 'TARA CHAND ROAD', 'BADSHAH KHAN RD', 'KPT',
       'STREET 1 TO 7', 'ITTEHAD COMM', 'NSHAT COMERCIAL',
       'KHYBAN-E-SHAHEN', 'BUKHARI COMM', 'KORANGI ROAD', 'DEFENCE COMM',
       'EXT 2', 'DOPTA MARKET', 'CLIFTON BLK 2', 'CLIFTON BLK 4',
       'CLIFTON BRIDGE', 'FIRYA TOWN', 'RATI LINE', 'HUSSAIN BKSH RD',
       'STREET 8 TO 20', 'DEFENCE VIEW', 'MASOOM SHAH RD', 'CANTT STATION',
       'DAUD POTA ROAD', 'FATIMA JINAH RD', 'NEELAM COLONY',
       'TOUHEED COMM', 'ZAM ZAMA', 'B AREA', 'C AREA', 'D AREA',
       'PUNJAB ROAD ', 'MEHMODABAD GATE', 'MEHMOODABAD 2', 'MEHMOODABAD 3',
       'MEHMOODABAD 5', 'MEHMOODABAD 6', 'LIAQUAT ASHRAF2', 'ABBASI CHOWK',
       'CHANDIO VILLAGE', 'GABOL COLONY'], dtype=object)

In [21]:
df['SECTION_DESC'].value_counts()

TARIQ RD HILPRK            21897
PIB COLONY                 21523
M.A SOC DHORAJI            21226
MARTIN QUARTER             20956
LINE'S AREA 2              20774
BAHADURABAD                20545
SADDAR                     20475
LINE'S AREA 1              20434
BURNS ROAD                 19418
AB SENIA                   19271
AL FALAH                   18436
RAILWAY COLONY             17755
FATIMA JINAH CL            17714
CHANDNI CHOWK              16625
IQBL CL PIB WS             15832
SULTANABAD                 12365
SULTANABAD                 10373
SADDAR 2                    9355
HIJRAT COLONY               8682
SHAHABUDDIN WS              4395
EMPRESS MKT W/S             3109
TARIQ ROAD COMM             1594
P.I.B W/S                    581
CLIFTON CANTT                513
PNT COLONY DHA4              489
BADAR KHADA MKT              484
UPPER GIZRI                  453
LIAQUAT ASHRAF2              433
MEHMOODABAD                  422
AKHTAR COLONY 2              411
                           ...
SHIREEN JINNAH               397
AKHTAR COLONY 1              394
CHANESAR GOTH                391
MANZOOR COLNY 2              384
KASHMIR COLONY               384
SULTANABAD W/S               374
NEELAM COLONY                371
DEFANCE 2                    364
MANZOOR COLNY 1              354
QAYYUMABAD A,B               351
SHEHBAZ,RAHAT                349
BOAT BASIN                   347
LINESAREA W/S                346
BAZARTA LINE                 345
AZAM BASTI                   323
KEMARI 3                     307
QAYYUMABAD C,D               307
DEHLI COLONY                 306
DEFENCE 1,2                  277
PUNJAB COLONY                274
GREEN BELT                   256
KEMARI 2                     237
KEMARI 1                     211
A.B Senia                    155
KEMARI W/S                   139
Beats-VAN                    118
HIJRAT COLONY                 88
SULANABAD                     72
A.B Senia Lines Area 02       10
FOC                            2
Name: SECTION_DESC, dtype: int64

In [24]:
df['SECTION_DESC'].unique()

array(['MARTIN QUARTER', 'SADDAR', 'BAHADURABAD', 'TARIQ RD HILPRK',
       'AL FALAH ', 'CHANDNI CHOWK', 'PIB COLONY', 'SADDAR 2',
       'RAILWAY COLONY', "LINE'S AREA 1", 'SULTANABAD ', 'FATIMA JINAH CL',
       "LINE'S AREA 2", 'HIJRAT COLONY', 'M.A SOC DHORAJI',
       'IQBL CL PIB WS', 'AB SENIA', 'A.B Senia', 'SHAHABUDDIN WS',
       'BURNS ROAD', 'SULTANABAD', 'SULANABAD ', 'HIJRAT COLONY ',
       'EMPRESS MKT W/S', 'Beats-VAN', 'FOC', 'CLIFTON CANTT',
       'SULTANABAD W/S', 'P.I.B W/S', 'LINESAREA W/S', 'TARIQ ROAD COMM',
       'A.B Senia Lines Area 02', 'MANZOOR COLNY 1', 'DEHLI COLONY',
       'SHEHBAZ,RAHAT', 'KEMARI 1', 'AKHTAR COLONY 2', 'SHIREEN JINNAH',
       'AKHTAR COLONY 1', 'KEMARI 2', 'BUKHARI,MISRI', 'DEFENCE 1,2',
       'BOAT BASIN', 'BAZARTA LINE', 'BADAR KHADA MKT', 'KEMARI W/S',
       'CHANESAR GOTH ', 'NEELAM COLONY', 'PNT COLONY DHA4',
       'QAYYUMABAD C,D', 'QAYYUMABAD A,B', 'LIAQUAT ASHRAF2',
       'KASHMIR COLONY', 'MANZOOR COLNY 2', 'MEHMOODABAD', 'AZAM BASTI',
       'KEMARI 3', 'UPPER GIZRI', 'PUNJAB COLONY', 'DEFANCE 2',
       'GREEN BELT '], dtype=object)

In [28]:
df['POP_NAME'].value_counts()

BISMILLAH GENERAL STORE              5582
MASHALLAH GENERAL STORE              3892
MADINA GENERAL STORE                 3478
BISMILLAH PAN SHOP                   2785
AL MADINA GENERAL STORE              2407
JAVEED GENERAL STORE                 1995
MADINA BAKERY                        1981
ABBASI GENERAL STORE                 1838
SHAHID GENERAL STORE                 1798
NAVEED GENERAL STORE                 1736
BISMILLAH BAKERY                     1457
AWAMI GENERAL STORE                  1441
ZAHID GENERAL STORE                  1410
ASIF GENERAL STORE                   1405
IRFAN GENERAL STORE                  1370
IBRAHIM GENERAL STORE                1291
MADINA PAN SHOP                      1291
EJAZ GENERAL STORE                   1280
AL SHIFA MEDICAL STORE               1268
MEHMOOD GENERAL STORE                1224
RAFIQ GENERAL STORE                  1218
IDEAL BAKERY                         1218
HASSAN GENERAL STORE                 1129
USMAN GENERAL STORE                  1122
MACCA GENERAL STORE                  1107
TAWAKKAL GENERAL STORE               1092
REHMANIA GENERAL STORE                987
SOCIETY GENERAL STORE                 961
REHMAN GENERAL STORE                  952
SUBHANALLAH BAKERY                    935
                                     ...
BIN ADAM MART                           1
ALEEM AGHA GENERAL STORE                1
BARI GENERAL STORE                      1
FAROOQ CONFECTIONERY SHOP               1
P.S.O MART                              1
D.A JUNIOUR                             1
BARERA GENERAL STORE                    1
ALI BABA COLD SPOT                      1
MADIHA GENERAL STORE                    1
SALMAN BROTHERS GENERAL STORE           1
SHAH HUSSAIN PAN SHOP                   1
BAKERS CRAFT BAKERY                     1
MARHABA FOOD CENTER                     1
AL MAJID GENERAL STORE                  1
MEMON KIRYANA STORE                     1
AL MURTAZA SCHOOL                       1
WILAYAT SHAH GENERAL STORE              1
CRESENT SCHOOL                          1
FAZAL REHMAN AFRIDI GENERAL STORE       1
AL SADAQAT GENERAL STORE                1
RANA SHAHID GENERAL STORE               1
AMMAR STORE                             1
SHAH FAISAL GENERAL STORE               1
SALEEM CONFECTIONERY SHOP               1
LIAQUAT NATIONAL HOSPITAL 3             1
THE PAN SHOP                            1
ASLAM GENERAL  STORE                    1
SUPER NEW IDEAL BAKERY                  1
UMAR ZAIB KIRYANA STORE                 1
GOVT GIRLS ISLAMIA COLLEGE              1
Name: POP_NAME, dtype: int64

In [30]:
df['MARKET_NAME'].value_counts()

-                                 5176
JAMSHED ROAD EAST                 1554
MARTIN ROAD                       1437
B-7/8 CP SOCIETY MAIN DHORAJI     1435
MADINA ROAD NEAR SHAHAB UDDIN     1411
RAILWAY COLONY UN LEASED PLOTS    1297
271-MEENA BAZAR MAIN PIB COLNY    1261
SHOP NO.6 SUBRAG HOSPITAL         1188
JUTT LINE BAZAR LINE'S AREA       1110
SHOP NO G/15 HASSAN ARCADE        1105
BLOCK 2 COMMERCIAL MARKET         1096
MAIN PIB MEENA BAZAR              1070
FALCON PLAZA TARIQ ROAD           1026
R 628 SECTOR 18                   1007
USMANI MUJAHID COLONY              978
PLOT NO.A-6/8 RAILWAY COLONY       958
FATIMA JINNAH COLONY               957
 PLOT NO 627 PIB COLONY            947
MAIN GROWMANDAR CHORANGI           941
MAIN GURUMANDIR ROAD               904
PLOT NO 231 RAILWAY COLONY         898
SHOP NO.1 HUSSAIN ARCADE PIB       892
NEAR TANVEER MASJID                881
MAIN BUS STOP PIB COLONY           859
PLOT NO.654/11 QURESHIA CHOWK      855
SHOP NO 6 BLOCK 8                  844
AWAMI PARK VIEW  BLOCK 2           828
NIZAMI ROAD NEAR BLIND SCHOOL      819
M.ALI SOCIETY                      808
SHOP # 44 HAJI CAMP SULTANABAD     806
                                  ...
SECTOR BAZAR SEC 8C MAIN BAZAR       1
SHOP #  2 ST 05                      1
PAN MANDI EMPRESS MKT SH # 112       1
ST 10 SHOP # 8 U 10 BUS STOP         1
748 JUNEJO TOWN                      1
PH # 2 EXT 14 COMMERCIAL             1
PLOT NO 295 BAZZARTA LINE            1
Z-459 GAT-9 BAHADURABAD              1
QAYYUMABAD C AREA                    1
236/C BLK 3                          1
NEAR ROSMAN SHOP                     1
PLOT # 23/D SEC MANZOOR COLONY       1
PLOT NO 19 CIVIL CANTT STATION       1
ADNAN VIEW 34/10 DEHLI COLONY        1
FARAN SOCIETY DHORAJI COLONY         1
55 NO 9 HILL AREA                    1
SHOP # 5 NEAR NATIONAL COLLEGE       1
B 58                                 1
914 MEHMOODABAD NO 5                 1
351 MANZOOR COLONY                   1
SN 4 OR 4 B6 SULEMANIA MASJID        1
HOUSE NO 7 SHOP # 1                  1
371 MANZOOR COLONY                   1
R/61 BLK 6 PCHS SHOP # 1             1
PLOT NO.616/10 QURESHIA CHOWK        1
UMAR KHAN ROAD TAPOO                 1
PLOT NO.1132 PIB COLONY              1
PLOT # 4-C 368 HAZARA COLONY         1
SHOP #  2 FATIMA JINNAH ROAD         1
792 Block no 2 N.K.C.H.S  Soci       1
Name: MARKET_NAME, dtype: int64

In [33]:
df['STREET'].value_counts()

-                        13878
MEENA BAZAR               9962
USMANIA MASJID            5979
MADINA MASJID             5136
MID CITY APPARTMENT       5124
CDGK PARKING PLAZA        4729
AL MADINA MASJID          4574
A-MARKET                  4526
GHOUSIA MASJID            4314
CIA CENTRE                3981
BISMILLAH MASJID          3849
NEAR TANVEER MASJID       3746
BISCONNI CIRCLE           3618
C.I.A CENTER              3458
USMANI PARK               3444
QUBA MASJID               3443
BAHADURABAD CHOWK         3410
ALVA WAFAR                3332
CIVIC CENTRE              3248
DAR UL SALAM MASJID       3173
RAILWAY PATHAK            3121
GHARYAL BUILDING          3081
PREEDY THANA              2963
MARTIN QUARTER            2905
JUTT LINE                 2758
A B SENIA BAZAR           2681
ZAINAB MARKET             2669
YAQOOBIA MASJID           2595
PSO PUMP                  2579
MOHAMMAD MASJID           2555
                         ...
MCB BANK                     2
MIDLING HOSPITAL             2
BHUTTO GROUND                2
RADIO PAKISTAN               2
PALM BEACH HOME              2
KABIRA CHOWK                 2
FAMILY PARK                  2
FAISAL BANK                  2
SHAHEEN GROUND               2
GOSH MART                    2
ARMY WELFARE                 2
FURNITER MKT                 2
PINGERI PAHRA                2
SADIQ MASJID                 1
GARDEN CHOWK                 1
EXT 2                        1
QAYYUMABAD CHOWRANGI         1
SOCIETY                      1
CHINA TOWN                   1
GHARYALI BUILLDING           1
UMAR COLONY                  1
CLIFTON BRIDGE               1
NEAR AHMED HOSPITAL          1
ST ANDREW CHRUCH             1
LUCKY AFRIDI ROAD            1
FAIZAN MASJID                1
MASJID E AQSA                1
HEAVEN APPARTMENT            1
GIZRI FOOTBAL GROUND         1
GAS BANDAR ROAD              1
Name: STREET, dtype: int64

In [48]:
for field in ['TOWN', 'LOCALITY', 'SLOCALITY', 'SECTION', 'POS_TYPE_CODE', 'MARKET_NAME', 'STREET']:
    unique_occurances = df.groupby(['POP_CODE'])[field].nunique().values
    if sum(unique_occurances) > unique_occurances.size:
        print("Multiple values in %s have been allocated for the same POP"%field)

Multiple values in SECTION have been allocated for the same POP
Multiple values in POS_TYPE_CODE have been allocated for the same POP

In [54]:
street_ser = df.groupby(['POP_CODE'])['SECTION'].nunique().values
len([ser for ser in street_ser if ser > 1])

1585

In [57]:
street_ser = df.groupby(['POP_CODE'])['POS_TYPE_CODE'].nunique().values
len([ser for ser in street_ser if ser > 1])

1

In [27]:
df['POS_TYPE'].value_counts()

General Store              198996
Pan Shop                    42831
Medical Store               31405
Bakery                      27856
Confectionary               14603
Whole Sale                  11873
Milk Shop                    6323
Tea Stalls/Drink Corner      6103
Kiryana Store                4220
Kiosk                        3887
Canteen                      3231
PCO                          1879
Non Contracted                743
Contracted                    598
Petro Mart                    334
Airport                       268
Retailer                       28
Name: POS_TYPE, dtype: int64

In [84]:
df['PJP'].value_counts()

2       59726
3       58943
12      50228
13      42991
1       31051
18      26628
11      25675
20      22851
22      14217
16       7583
5        2544
8        2250
6        2156
4        1860
7        1749
23       1446
17       1045
26        781
25        682
29        467
10        119
24        118
14         51
15         14
2001        3
Name: PJP, dtype: int64

In [80]:
df['DSR'].value_counts()

2     59726
3     58943
12    50228
13    42991
1     31218
19    26628
11    25675
20    22851
21    14217
17     7583
5      2544
8      2250
6      2156
4      1860
7      1749
22     1446
18      997
24      781
23      682
26      467
10      118
14       51
15       14
16        3
Name: DSR, dtype: int64

In [96]:
pjp_values = df['PJP'].value_counts()
dsr_values = df['DSR'].value_counts()
df_pjp_dsr = pd.concat([pjp_values, dsr_values], axis = 1)
df_pjp_dsr['Same'] = df['PJP'] == df['DSR']
df_pjp_dsr

        PJP    DSR   Same
1     31051  31218  False
2     59726  59726   True
3     58943  58943   True
4      1860   1860   True
5      2544   2544   True
6      2156   2156   True
7      1749   1749   True
8      2250   2250   True
10      119    118   True
11    25675  25675   True
12    50228  50228   True
13    42991  42991   True
14       51     51   True
15       14     14   True
16     7583      3   True
17     1045   7583   True
18    26628    997   True
19      NaN  26628   True
20    22851  22851   True
21      NaN  14217   True
22    14217   1446   True
23     1446    682  False
24      118    781  False
25      682    NaN  False
26      781    467  False
29      467    NaN  False
2001      3    NaN   True

In [101]:
df['HHT_SRNO'].value_counts()

0      264268
1        2780
3        2765
2        2735
4        2715
6        2711
7        2698
5        2694
13       2685
8        2683
9        2665
10       2663
12       2662
14       2652
15       2637
11       2619
16       2600
17       2599
18       2559
19       2547
20       2500
21       2492
23       2471
22       2452
24       2402
25       2331
26       2260
27       2223
28       2143
29       2069
        ...
42        318
43        224
44        174
45        133
46        111
47         88
48         55
49         41
51         36
50         35
52         33
53         20
54         19
55         15
56         13
57         10
58          8
59          8
60          8
61          8
67          6
62          4
63          3
64          2
65          2
66          2
69          1
70          1
68          1
999         1
Name: HHT_SRNO, dtype: int64

In [102]:
df['USER_ENTRY'].value_counts()

areeb     215790
laraib     71554
002        11806
012        11568
003        11201
019        11063
021        10514
020        10224
zahid       1154
001          228
022           74
ADMIN          2
Name: USER_ENTRY, dtype: int64

In [103]:
df['PAYMENT_MODE'].value_counts()

1    336586
2     18078
Name: PAYMENT_MODE, dtype: int64

In [104]:
df['COMPANY_RANK'].value_counts()

1     346459
21      7999
7        720
Name: COMPANY_RANK, dtype: int64

In [105]:
df['RANK'].value_counts()

3    321777
4     28642
5      3001
7      1276
6       482
Name: RANK, dtype: int64

In [106]:
df['ACTIVE'].value_counts()

1    264575
0     90603
Name: ACTIVE, dtype: int64

In [108]:
df['AREATYPE'].value_counts()

2    355059
1       119
Name: AREATYPE, dtype: int64

In [109]:
df['SHOPPER_TYPE'].value_counts()

RG    241177
01    108482
L1       363
Name: SHOPPER_TYPE, dtype: int64

In [110]:
df['GEOCODE'].value_counts()

1    263014
3     92164
Name: GEOCODE, dtype: int64

In [111]:
df['RURAL'].value_counts()

N    263014
Y     92164
Name: RURAL, dtype: int64

In [112]:
df['ELEMENT'].value_counts()

2    202883
3     74236
1     40869
4     31087
5      6103
Name: ELEMENT, dtype: int64

In [113]:
df['SUB_ELEMENT'].value_counts()

4     198996
9      42831
7      31405
1      27856
12     14603
16     11873
6       6323
3       6103
5       4220
2       3887
10      3231
8       1879
17       743
11       598
19       334
20       268
15        28
Name: SUB_ELEMENT, dtype: int64

In [114]:
df['CHANNEL'].value_counts()

1    341964
2     11873
3      1341
Name: CHANNEL, dtype: int64

In [115]:
df['SUB_CHANNEL'].value_counts()

1    297781
4     47052
2     10077
3       268
Name: SUB_CHANNEL, dtype: int64