In [ ]:
df.info()

In [7]:
df = pd.read_csv('C:\Program Files\Git\IDS-Project\Data.csv', encoding = "ISO-8859-1")

In [1]:
from pandas import DatetimeIndex

In [167]:
import datetime as dt

In [75]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355178 entries, 0 to 355177
Data columns (total 37 columns):
TOWN               355178 non-null object
TOWN_DESC          355178 non-null object
LOCALITY           355178 non-null int64
LOCALITY_DESC      355178 non-null object
SLOCALITY          355178 non-null int64
SLOCALITY_DESC     355178 non-null object
POP_CODE           355178 non-null object
POP_NAME           355178 non-null object
SECTION            355178 non-null int64
SECTION_DESC       355178 non-null object
POS_TYPE_CODE      355178 non-null int64
POS_TYPE           355178 non-null object
DOC_DATE           355178 non-null object
DOC_NO             355178 non-null int64
ORDER_STATUS       355178 non-null int64
PJP                355178 non-null int64
REF_PJP            355178 non-null float64
DSR                355178 non-null int64
REF_DSR            355178 non-null float64
HHT_SRNO           355178 non-null float64
USER_ENTRY         355178 non-null object
PAYMENT_MODE       355178 non-null float64
MARKET_NAME        355178 non-null object
STREET             355178 non-null object
COMPANY_RANK       355178 non-null int64
RANK               355178 non-null int64
ACTIVE             355178 non-null int64
AREATYPE           355178 non-null int64
SHOPPER_TYPE       355178 non-null object
OWNER_NAME         355178 non-null object
GPS_COORDINATES    355178 non-null object
GEOCODE            355178 non-null int64
RURAL              355178 non-null object
SUB_ELEMENT        355178 non-null int64
CHANNEL            355178 non-null int64
SUB_CHANNEL        355178 non-null int64
ELEMENT            355178 non-null int64
dtypes: float64(4), int64(17), object(16)
memory usage: 100.3+ MB
None

In [10]:
df.head()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,...,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
0,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004014,AL MACCA BAKERY,1,MARTIN QUARTER,...,2,RG,-,"24.88901459,67.04905551",1,N,1,1,1,4
1,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004129,MUSHTAQ BAKERY,1,MARTIN QUARTER,...,2,RG,AHSAN JAMEEL,"24.89015118,67.04589786",1,N,1,1,1,4
2,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003092,ABBAS BROTHERS BAKERY & CONFECTIONERY (S,9,SADDAR,...,2,01,-,"24.86038398,67.02951905",1,N,1,1,1,4
3,T00009,SOCIETY,1,BAHADURABAD,1,CHOTTI MARKET,T00009001001010,FAREED'S BAKERY,16,BAHADURABAD,...,2,RG,SHAFIQ,"24.88451887,67.06439404",3,Y,1,1,1,4
4,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003015,CRESENT NIMCO,16,BAHADURABAD,...,2,RG,ABDUL QADIR,"24.88241835,67.06616701",3,Y,1,1,1,4

In [23]:
df.shape

(355178, 37)

In [17]:
df.head()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,...,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
0,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004014,AL MACCA BAKERY,1,MARTIN QUARTER,...,2,RG,-,"24.88901459,67.04905551",1,N,1,1,1,4
1,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004129,MUSHTAQ BAKERY,1,MARTIN QUARTER,...,2,RG,AHSAN JAMEEL,"24.89015118,67.04589786",1,N,1,1,1,4
2,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003092,ABBAS BROTHERS BAKERY & CONFECTIONERY (S,9,SADDAR,...,2,01,-,"24.86038398,67.02951905",1,N,1,1,1,4
3,T00009,SOCIETY,1,BAHADURABAD,1,CHOTTI MARKET,T00009001001010,FAREED'S BAKERY,16,BAHADURABAD,...,2,RG,SHAFIQ,"24.88451887,67.06439404",3,Y,1,1,1,4
4,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003015,CRESENT NIMCO,16,BAHADURABAD,...,2,RG,ABDUL QADIR,"24.88241835,67.06616701",3,Y,1,1,1,4

In [15]:
df.describe()

,LOCALITY,SLOCALITY,SECTION,POS_TYPE_CODE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,...,PAYMENT_MODE,COMPANY_RANK,RANK,ACTIVE,AREATYPE,GEOCODE,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
count,355178.000000,355178.000000,355178.000000,355178.000000,3.551780e+05,355178.000000,355178.000000,355177.000000,355178.000000,355177.000000,...,354664.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000,355178.000000
mean,2.869820,2.115193,25.587900,5.513168,1.516422e+11,0.442381,9.341829,1125.131388,9.358080,105.492898,...,1.050972,1.462585,3.115981,0.744908,1.999665,1.518974,5.513168,1.040979,1.427304,2.320544
std,1.442698,1.157632,16.175905,3.328402,1.366982e+10,0.496670,9.023358,323.627075,6.936887,4.926169,...,0.219941,2.977828,0.413137,0.435913,0.018301,0.876707,3.328402,0.216452,1.020330,0.852102
min,1.000000,1.000000,1.000000,1.000000,1.000091e+06,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,3.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,10.000000,4.000000,1.400120e+11,0.000000,2.000000,1002.000000,2.000000,102.000000,...,1.000000,1.000000,3.000000,0.000000,2.000000,1.000000,4.000000,1.000000,1.000000,2.000000
50%,3.000000,2.000000,30.000000,4.000000,1.500121e+11,0.000000,11.000000,1005.000000,11.000000,104.000000,...,1.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,1.000000,1.000000,2.000000
75%,4.000000,3.000000,41.000000,7.000000,1.600181e+11,1.000000,13.000000,1013.000000,13.000000,106.000000,...,1.000000,1.000000,3.000000,1.000000,2.000000,3.000000,7.000000,1.000000,1.000000,3.000000
max,8.000000,7.000000,54.000000,20.000000,1.720010e+11,1.000000,2001.000000,2007.000000,26.000000,121.000000,...,2.000000,21.000000,7.000000,1.000000,2.000000,3.000000,20.000000,3.000000,4.000000,5.000000

In [16]:
df.tail(10)

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,...,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
355168,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002102,IMRAN GENERAL STORE,37,LINE'S AREA 1,...,2,RG,IMRAN,"24.86916424,67.04462945",1,N,4,1,1,2
355169,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002103,IQBAL PAPA CONFECTIONERY SHOP,31,SHAHABUDDIN WS,...,2,01,IRFAN,"24.86464589,67.03355183",1,N,12,1,1,1
355170,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002045,AQEEL WHOLE SALER,31,SHAHABUDDIN WS,...,2,01,M.AQEEL,"24.86543479,67.03618068",1,N,12,1,1,1
355171,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002088,GHOUSIA CONFECTIONERY SHOP,38,LINE'S AREA 2,...,2,RG,KASHIF,"24.86784534,67.04458501",1,N,16,2,1,1
355172,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001072,LATIF WHOLE SELLER,36,SULTANABAD,...,2,RG,IBRAR,"24.84131182,67.01770422",1,N,16,2,1,1
355173,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001134,ZULQARNAIN WHOLE SALE,36,SULTANABAD,...,2,RG,AYAZ,"24.83645713,67.02357356",1,N,16,2,1,1
355174,T00027,SADDAR,5,SULTANABAD,5,RAILWAY COLONY,T00027005005036,JAMROOZ WHOLE SALLER,33,RAILWAY COLONY,...,2,01,JAMROOZ,"24.84719837,67.01062425",1,N,12,1,1,1
355175,T00027,SADDAR,5,SULTANABAD,3,PIDC,T00027005003019,SALAR ZAI WHOLE SALE,36,SULTANABAD,...,2,RG,SULTAN,"24.8419948,67.01718672",1,N,16,2,1,1
355176,T00014,KEMARI,1,BHUTTA VILLAGE,6,QASIM SHAH ROAD,T00014001006030,SAMAD WHOLE SALE,25,KEMARI W/S,...,2,01,A.HAMID,NaN,1,N,12,1,1,1
355177,T00015,MEHMOODABAD,6,MANZOOR COLONY,7,PUNJAB ROAD,T00015006007006,MASHALLAH GENERAL STORE,22,MANZOOR COLNY 2,...,2,01,BANARAS,NaN,1,N,4,1,1,2

In [18]:
pd.set_option('display.max_columns', None)

In [19]:
df.head()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,POS_TYPE_CODE,POS_TYPE,DOC_DATE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,HHT_SRNO,USER_ENTRY,PAYMENT_MODE,MARKET_NAME,STREET,COMPANY_RANK,RANK,ACTIVE,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
0,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004014,AL MACCA BAKERY,1,MARTIN QUARTER,1,Bakery,2017-10-03 00:00:00.000,170022080881,0,22,1013.0,21,104.0,6.0,021,2.0,SHOP NO 1 F-173/4,USMANIA MASJID,1,3,1,2,RG,-,"24.88901459,67.04905551",1,N,1,1,1,4
1,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004129,MUSHTAQ BAKERY,1,MARTIN QUARTER,1,Bakery,2017-10-03 00:00:00.000,170022080941,1,22,1013.0,21,104.0,9.0,021,2.0,MARTIN ROAD JAMSHEED ROAD,BAKADI MASJID,1,3,1,2,RG,AHSAN JAMEEL,"24.89015118,67.04589786",1,N,1,1,1,4
2,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003092,ABBAS BROTHERS BAKERY & CONFECTIONERY (S,9,SADDAR,1,Bakery,2017-10-03 00:00:00.000,170020078691,1,20,2004.0,20,117.0,20.0,020,2.0,-,PRESS CLUB,21,3,1,2,01,-,"24.86038398,67.02951905",1,N,1,1,1,4
3,T00009,SOCIETY,1,BAHADURABAD,1,CHOTTI MARKET,T00009001001010,FAREED'S BAKERY,16,BAHADURABAD,1,Bakery,2017-10-03 00:00:00.000,170012039501,1,12,2003.0,12,115.0,21.0,laraib,1.0,SHARFABAD CHOWK SHOP NO 7,C.P BERAN MASJID,1,3,1,2,RG,SHAFIQ,"24.88451887,67.06439404",3,Y,1,1,1,4
4,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003015,CRESENT NIMCO,16,BAHADURABAD,1,Bakery,2017-10-03 00:00:00.000,170012039471,0,12,2003.0,12,115.0,25.0,laraib,1.0,SHOP NO 20 RASHEEDABAD,KOKAN GROUND,1,3,1,2,RG,ABDUL QADIR,"24.88241835,67.06616701",3,Y,1,1,1,4

In [20]:
df.tail()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,POS_TYPE_CODE,POS_TYPE,DOC_DATE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,HHT_SRNO,USER_ENTRY,PAYMENT_MODE,MARKET_NAME,STREET,COMPANY_RANK,RANK,ACTIVE,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
355173,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001134,ZULQARNAIN WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1002086,0,1,1001.0,1,101.0,NaN,areeb,2.0,STRET 29 SHOP # 1 HIJRAT CLNY,RIZWANIYA MASJID,1,4,1,2,RG,AYAZ,"24.83645713,67.02357356",1,N,16,2,1,1
355174,T00027,SADDAR,5,SULTANABAD,5,RAILWAY COLONY,T00027005005036,JAMROOZ WHOLE SALLER,33,RAILWAY COLONY,12,Confectionary,2013-08-01 00:00:00.000,1094321,0,1,1001.0,1,101.0,NaN,areeb,2.0,BLOCK NO 233 RAILWAY COLONY,NORANI MASJID,1,4,0,2,01,JAMROOZ,"24.84719837,67.01062425",1,N,12,1,1,1
355175,T00027,SADDAR,5,SULTANABAD,3,PIDC,T00027005003019,SALAR ZAI WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1131111,0,1,1001.0,1,101.0,NaN,areeb,2.0,GATE # 10 PLOT # 4 HAZARA CHOK,GHOUSIA MASJID,1,4,1,2,RG,SULTAN,"24.8419948,67.01718672",1,N,16,2,1,1
355176,T00014,KEMARI,1,BHUTTA VILLAGE,6,QASIM SHAH ROAD,T00014001006030,SAMAD WHOLE SALE,25,KEMARI W/S,12,Confectionary,2013-07-27 00:00:00.000,7084678,0,7,1007.0,7,107.0,NaN,areeb,2.0,ZAROBI COLONY ASGHAR MASJID,BADAR GROUND,1,4,0,2,01,A.HAMID,NaN,1,N,12,1,1,1
355177,T00015,MEHMOODABAD,6,MANZOOR COLONY,7,PUNJAB ROAD,T00015006007006,MASHALLAH GENERAL STORE,22,MANZOOR COLNY 2,4,General Store,2013-07-18 00:00:00.000,8082937,0,8,1008.0,8,108.0,NaN,areeb,2.0,605 MANZOOR COLONY,JADOON CHOWK,1,3,0,2,01,BANARAS,NaN,1,N,4,1,1,2

In [31]:
df.drop_duplicates()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,POS_TYPE_CODE,POS_TYPE,DOC_DATE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,HHT_SRNO,USER_ENTRY,PAYMENT_MODE,MARKET_NAME,STREET,COMPANY_RANK,RANK,ACTIVE,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
0,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004014,AL MACCA BAKERY,1,MARTIN QUARTER,1,Bakery,2017-10-03 00:00:00.000,170022080881,0,22,1013.0,21,104.0,6.0,021,2.0,SHOP NO 1 F-173/4,USMANIA MASJID,1,3,1,2,RG,-,"24.88901459,67.04905551",1,N,1,1,1,4
1,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004129,MUSHTAQ BAKERY,1,MARTIN QUARTER,1,Bakery,2017-10-03 00:00:00.000,170022080941,1,22,1013.0,21,104.0,9.0,021,2.0,MARTIN ROAD JAMSHEED ROAD,BAKADI MASJID,1,3,1,2,RG,AHSAN JAMEEL,"24.89015118,67.04589786",1,N,1,1,1,4
2,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003092,ABBAS BROTHERS BAKERY & CONFECTIONERY (S,9,SADDAR,1,Bakery,2017-10-03 00:00:00.000,170020078691,1,20,2004.0,20,117.0,20.0,020,2.0,-,PRESS CLUB,21,3,1,2,01,-,"24.86038398,67.02951905",1,N,1,1,1,4
3,T00009,SOCIETY,1,BAHADURABAD,1,CHOTTI MARKET,T00009001001010,FAREED'S BAKERY,16,BAHADURABAD,1,Bakery,2017-10-03 00:00:00.000,170012039501,1,12,2003.0,12,115.0,21.0,laraib,1.0,SHARFABAD CHOWK SHOP NO 7,C.P BERAN MASJID,1,3,1,2,RG,SHAFIQ,"24.88451887,67.06439404",3,Y,1,1,1,4
4,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003015,CRESENT NIMCO,16,BAHADURABAD,1,Bakery,2017-10-03 00:00:00.000,170012039471,0,12,2003.0,12,115.0,25.0,laraib,1.0,SHOP NO 20 RASHEEDABAD,KOKAN GROUND,1,3,1,2,RG,ABDUL QADIR,"24.88241835,67.06616701",3,Y,1,1,1,4
5,T00009,SOCIETY,4,TARIQ ROAD,2,COMMERCIAL MKT,T00009004002028,HIGHWAY BAKERY,17,TARIQ RD HILPRK,1,Bakery,2017-10-03 00:00:00.000,170012092741,1,12,2003.0,12,115.0,24.0,012,2.0,P 147 SHOP NO 1 TARIQ ROAD,QADRI MASJID,1,3,1,2,RG,NADEEM,"24.86927765,67.06063011",3,Y,1,1,1,4
6,T00009,SOCIETY,4,TARIQ ROAD,2,COMMERCIAL MKT,T00009004002030,IRANI BAKERY & NIMCO,17,TARIQ RD HILPRK,1,Bakery,2017-10-03 00:00:00.000,170012092641,1,12,2003.0,12,115.0,40.0,012,2.0,BLOCK 2 COMMERCIAL MARKET,MAMOUR MASJID,1,3,1,2,RG,ABBAS,"24.87183287,67.05918069",3,Y,1,1,1,4
7,T00009,SOCIETY,4,TARIQ ROAD,2,COMMERCIAL MKT,T00009004002010,ASCO BAKERY,17,TARIQ RD HILPRK,1,Bakery,2017-10-03 00:00:00.000,170012092951,0,12,2003.0,12,115.0,1.0,012,2.0,FALCON PLAZA TARIQ ROAD,DOLMEN MALL 2,1,3,1,2,RG,NASEEM,"24.87858026,67.06401698",3,Y,1,1,1,4
8,T00009,SOCIETY,4,TARIQ ROAD,4,NURSERY,T00009004004051,PRINCE BAKERY,42,AL FALAH,1,Bakery,2017-10-03 00:00:00.000,170002086371,1,2,1002.0,2,102.0,28.0,002,2.0,SHOP NO 27 A NEAR DARULSALAM,DAR UL SALAM MASJID,1,3,1,2,RG,SALEEM AHMAD,"24.8669242,67.04866831",3,Y,1,1,1,4
9,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001006,AUTOMATIC BAKERS,42,AL FALAH,1,Bakery,2017-10-03 00:00:00.000,170002086561,0,2,1002.0,2,102.0,4.0,002,2.0,84-Q BLOCK 2 GAZALI RD AL FALH,AL FALAH MKT,1,3,1,2,RG,RAFIQ,"24.87451305,67.05442566",3,Y,1,1,1,4
10,T00027,SADDAR,1,AB SENIA,2,TAYYABA SOCIETY,T00027001002041,SHEHROZ BAKERY,42,AL FALAH,1,Bakery,2017-10-03 00:00:00.000,170002086441,1,2,1002.0,2,102.0,25.0,002,2.0,PECHS SOCIETY BLOCK 2,DAR UL SALAM MASJID,1,3,1,2,RG,MOHAMMAD ASHRAF,"24.86729266,67.04731784",1,N,1,1,1,4
11,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001006,BOMBAY BAKERY,43,CHANDNI CHOWK,1,Bakery,2017-10-03 00:00:00.000,170003038971,1,3,1003.0,3,103.0,10.0,laraib,1.0,SOHNI ARCADE SHOP NO 9,CIVIC CENTRE,1,3,1,2,RG,RAZI KHAN,"24.88948055,67.06374828",3,Y,1,1,1,4
12,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001006,BOMBAY BAKERY,43,CHANDNI CHOWK,1,Bakery,2017-10-03 00:00:00.000,170003038841,1,3,1003.0,3,103.0,10.0,laraib,1.0,SOHNI ARCADE SHOP NO 9,CIVIC CENTRE,1,3,1,2,RG,RAZI KHAN,"24.88948055,67.06374828",3,Y,1,1,1,4
13,T00009,SOCIETY,2,CHANDNI CHOWK,2,UK SQUARE,T00009002002019,IDEAL BAKERY,43,CHANDNI CHOWK,1,Bakery,2017-10-03 00:00:00.000,170003038571,1,3,1003.0,3,103.0,17.0,laraib,1.0,SHOP NO C/C 11 CHANDNI CHOWK,AULA MASJID,1,3,1,2,RG,M SHAKEEL,"24.87493177,67.08887794",3,Y,1,1,1,4
14,T00009,SOCIETY,2,CHANDNI CHOWK,2,UK SQUARE,T00009002002019,IDEAL BAKERY,43,CHANDNI CHOWK,1,Bakery,2017-10-03 00:00:00.000,170003038881,1,3,1003.0,3,103.0,17.0,laraib,1.0,SHOP NO C/C 11 CHANDNI CHOWK,AULA MASJID,1,3,1,2,RG,M SHAKEEL,"24.87493177,67.08887794",3,Y,1,1,1,4
15,T00026,PIB COLONY,2,PIB MAIN ROAD,1,AMEENABAD,T00026002001057,MARHABA BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082351,1,3,1003.0,3,103.0,42.0,003,2.0,PLOT NO 157 MAIN PIB BUS STOP,P.I.B BUS STOP,1,3,1,2,RG,HAMEED,"24.89229153,67.05406226",1,N,1,1,1,4
16,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002002,AFNAN BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082411,0,3,1003.0,3,103.0,39.0,003,2.0,MAIN PIB MEENA BAZAR,MEENA BAZAR,1,3,1,2,RG,KARIM,"24.8927398,67.05393448",1,N,1,1,1,4
17,T00026,PIB COLONY,2,PIB MAIN ROAD,1,AMEENABAD,T00026002001097,ZAM ZAM BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082551,1,3,1003.0,3,103.0,20.0,003,2.0,PLOT NO.2172 AMEENABAD,MEENA BAZAR,1,3,1,2,RG,TARIQ,"24.89590624,67.05676043",1,N,1,1,1,4
18,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002073,SUBHANALLAH BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082401,1,3,1003.0,3,103.0,19.0,003,2.0,SHOP NO 12 KARACHI CENTRE PIB,IQBAL COLONY,1,3,1,2,RG,SHAHID,"24.89271348,67.05438343",1,N,1,1,1,4
19,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002051,QURESHI BAKERS,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082561,1,3,1003.0,3,103.0,34.0,003,2.0,271-MEENA BAZAR MAIN PIB COLNY,MEENA BAZAR,1,3,1,2,RG,SAGHEER,"24.89596124,67.05679864",1,N,1,1,1,4
20,T00026,PIB COLONY,2,PIB MAIN ROAD,3,KARACHI CENTER,T00026002003036,MADINA BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082261,1,3,1003.0,3,103.0,5.0,003,2.0,SHOP NO 3 KARACHI CENTRE,KARACHI CENTRE,1,3,1,2,RG,AJMAL,"24.89047212,67.05835597",1,N,1,1,1,4
21,T00026,PIB COLONY,2,PIB MAIN ROAD,3,KARACHI CENTER,T00026002003024,GOLDEN BAKERY,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082441,1,3,1003.0,3,103.0,32.0,003,2.0,PLOT NO.858 PIB COLONY,JAMA MASJID FAIZA-E-ATTARI,1,3,1,2,RG,ANWAR,"24.89405781,67.0581324",1,N,1,1,1,4
22,T00026,PIB COLONY,2,PIB MAIN ROAD,1,AMEENABAD,T00026002001038,HAFIZ SWEETS & BAKERS,44,PIB COLONY,1,Bakery,2017-10-03 00:00:00.000,170003082311,1,3,1003.0,3,103.0,9.0,003,2.0,SHOP NO G/15 HASSAN ARCADE,SABZI STREET PIB,1,3,1,2,RG,SOHAIL,"24.89200455,67.05354672",1,N,1,1,1,4
23,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001021,BISMILLAH BAKERY,49,SADDAR 2,1,Bakery,2017-10-03 00:00:00.000,170018081951,0,18,1005.0,19,105.0,13.0,019,2.0,ZC4 GULSHAN ZAHOOR ROAD,7 DAY HOSPITAL,1,3,1,2,RG,ZULFIQAR,"24.8593841,67.01978669",1,N,1,1,1,4
24,T00027,SADDAR,3,BURNS ROAD,3,RATAN TULLAO,T00027003003072,PREEDY BAKERY,49,SADDAR 2,1,Bakery,2017-10-03 00:00:00.000,170018082181,1,18,1005.0,19,105.0,16.0,019,2.0,SHOP # 3 PREEDY POLICE STATION,PREEDY POLICE STATION,1,3,1,2,RG,AKRAM,"24.86103293,67.02055746",1,N,1,1,1,4
25,T00027,SADDAR,3,BURNS ROAD,3,RATAN TULLAO,T00027003003020,AZEEM BAKERY,49,SADDAR 2,1,Bakery,2017-10-03 00:00:00.000,170018082131,0,18,1005.0,19,105.0,37.0,019,2.0,SHOP NO.07 FERIAR MARKET,PREEDY THANA,1,3,1,2,RG,AKRAM,"24.86298269,67.03052361",1,N,1,1,1,4
26,T00027,SADDAR,2,BOHRI BAZAR,3,PRESS CLUB,T00027002003041,MEZAN BAKERY & GENERAL STORE,49,SADDAR 2,1,Bakery,2017-10-03 00:00:00.000,170018082051,1,18,1005.0,19,105.0,7.0,019,2.0,PASS PORT OFF REGAL CHOWRANGI,FIA,1,3,1,2,RG,NAJEEB,"24.85838585,67.02409364",1,N,1,1,1,4
27,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001233,HAZRAT OWAISE KARNI BAKERY (SADAR 2),49,SADDAR 2,1,Bakery,2017-10-03 00:00:00.000,170018082241,1,18,1005.0,19,105.0,14.0,019,2.0,-,HIJRAT COLONY,21,3,1,2,01,-,"24.85938406,67.01978717",1,N,1,1,1,4
28,T00009,SOCIETY,4,TARIQ ROAD,4,NURSERY,T00009004004051,PRINCE BAKERY,6,AL FALAH,1,Bakery,2017-10-03 00:00:00.000,170026006061,0,26,2007.0,24,121.0,0.0,laraib,1.0,SHOP NO 27 A NEAR DARULSALAM,DAR UL SALAM MASJID,1,3,1,2,RG,SALEEM AHMAD,"24.8669242,67.04866831",3,Y,1,1,1,4
29,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001069,MASHALLAH BAKERY,12,SADDAR,1,Bakery,2017-10-03 00:00:00.000,170029003621,0,29,2006.0,26,119.0,0.0,laraib,1.0,SHOP NO LCB 19 NIZAMI ROAD,AL MADINA MASJID,1,3,1,2,RG,MOHAMMAD REHAN,"24.86560227,67.03738105",1,N,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355148,T00012,CLIFTON,2,CANTT,1,BAZZARTA LINE,T00012002001072,MADINA GENERAL STORE,1,BAZARTA LINE,4,General Store,2013-08-01 00:00:00.000,4054542,0,4,1004.0,4,104.0,NaN,areeb,2.0,HOUSE NO 926,KALI TANKI,1,3,0,2,01,IRFAN,NaN,1,N,4,1,1,2
355149,T00012,CLIFTON,2,CANTT,1,BAZZARTA LINE,T00012002001017,AL REHMAN GENERAL STORE,16,CLIFTON CANTT,4,General Store,2013-08-01 00:00:00.000,6002041,0,6,1006.0,6,106.0,NaN,areeb,2.0,PLOT NO 327 BAZZARTA LINE,KALA PUL,1,3,0,2,01,BILAL,NaN,1,N,4,1,1,2
355150,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001033,SOCIETY GENERAL STORE,47,TARIQ RD HILPRK,4,General Store,2013-08-01 00:00:00.000,3051011,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP 8 8/A BLOCK 2 A-MARKET,KDA COMMERCIALPLEX,1,4,0,2,01,ZAHID ZUBAIR,"24.87171042,67.05850237",3,Y,4,1,1,2
355151,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001013,DECENT GENERAL STORE,47,TARIQ RD HILPRK,4,General Store,2013-08-01 00:00:00.000,3084222,0,3,1003.0,3,103.0,NaN,areeb,2.0,FALCON PLAZA T-ROAD,DOLMEN MALL 2,1,3,1,2,RG,SHAFIQ,"24.86778528,67.07545474",3,Y,4,1,1,2
355152,T00009,SOCIETY,3,M A SOCIETY,1,ADAMJI NAGAR,T00009003001045,KHURSHEED MILK SHOP,45,M.A SOC DHORAJI,6,Milk Shop,2013-08-01 00:00:00.000,3131111,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP 4 RIAZ CENTER,OPPOSITE BOHRI JAMAT KHANA,1,3,1,2,RG,KHURSEED,"24.86944378,67.08289356",3,Y,6,1,1,1
355153,T00009,SOCIETY,3,M A SOCIETY,3,DHORAJI,T00009003003008,ANAJ GENERAL STORE,45,M.A SOC DHORAJI,4,General Store,2013-08-01 00:00:00.000,3051102,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 1 SAILANI BEROR,ZUBAIDA HOSPITAL,1,3,1,2,RG,ASLAM,"24.88399125,67.08180595",3,Y,4,1,1,2
355154,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003043,SHARIFABAD GENERAL STORE,46,BAHADURABAD,4,General Store,2013-08-01 00:00:00.000,3121111,0,3,1003.0,3,103.0,NaN,areeb,2.0,STREET 18 SHOP 259 SHARIFABAD,TV STATION,1,3,1,2,RG,ASIF,"24.8858097,67.06861365",3,Y,4,1,1,2
355155,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003050,ZAM ZAM GENERAL STORE,46,BAHADURABAD,4,General Store,2013-08-01 00:00:00.000,3051000,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 7 C.P BEROR SOCIETY,TV STATION,1,3,1,2,RG,ALTAF,"24.88589983,67.06387655",3,Y,4,1,1,2
355156,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001007,FAIZAN GENERALSTORE,43,CHANDNI CHOWK,4,General Store,2013-08-01 00:00:00.000,3044444,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 17 MASHRAQ CENTER,CIVIC CENTRE,1,3,0,2,01,SHAHID KAMAL,NaN,3,Y,4,1,1,2
355157,T00027,SADDAR,3,BURNS ROAD,3,RATAN TULLAO,T00027003003087,USAMA WHOLE SALLER,32,BURNS ROAD,12,Confectionary,2013-08-01 00:00:00.000,1000091,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # 7 STREET # 3,-,1,4,0,2,01,USAMA,NaN,1,N,12,1,1,1
355158,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001072,MASHALLAH SHARIF GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2000871,0,2,1002.0,2,102.0,NaN,areeb,2.0,SECTOR 1 APPOSIT THANRI MASJID,NEAR TANVEER MASJID,1,3,1,2,RG,SHOAIB YOUSUF,"24.86702313,67.03338995",1,N,4,1,1,2
355159,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002001,A ONE GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2081244,0,2,1002.0,2,102.0,NaN,areeb,2.0,62 TANGA STAND,MADINA MASJID,1,3,1,2,RG,RASHEED,"24.86497544,67.02614022",1,N,4,1,1,2
355160,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1084881,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355161,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1064101,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355162,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1750452,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355163,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1012132,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355164,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001110,SATTAR WHOLE SALER,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1091345,0,1,1001.0,1,101.0,NaN,areeb,2.0,"SHOP 58,59 SHAHBUDDING MKT 3",SHAHABUDDIN MARKET,1,4,1,2,01,M.SATTAR,"24.86438791,67.0338175",1,N,12,1,1,1
355165,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002250,YAMEEN CONFECTIONERY SHOP,38,LINE'S AREA 2,16,Whole Sale,2013-08-01 00:00:00.000,2214000,0,2,1002.0,2,102.0,NaN,areeb,2.0,NIZOMI ROAD JUTT LINE SADDAR,DAWUL-SALAT MASJID,1,4,1,2,RG,AZEEM ULLAH,"24.86769161,67.04090497",1,N,16,2,1,1
355166,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002212,SHAMSO WHOLE SALE,37,LINE'S AREA 1,12,Confectionary,2013-08-01 00:00:00.000,2051000,0,2,1002.0,2,102.0,NaN,areeb,2.0,POST OFFICE ROAD LINES AREA,POST OFFICE,1,4,0,2,01,SHAMS,NaN,1,N,12,1,1,1
355167,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002212,SHAMSO WHOLE SALE,37,LINE'S AREA 1,12,Confectionary,2013-08-01 00:00:00.000,2008421,0,2,1002.0,2,102.0,NaN,areeb,2.0,POST OFFICE ROAD LINES AREA,POST OFFICE,1,4,0,2,01,SHAMS,NaN,1,N,12,1,1,1
355168,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002102,IMRAN GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2041214,0,2,1002.0,2,102.0,NaN,areeb,2.0,PLOT # L-6 SEC 87/C SHOP # 24,-,1,3,1,2,RG,IMRAN,"24.86916424,67.04462945",1,N,4,1,1,2
355169,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002103,IQBAL PAPA CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1097123,0,1,1001.0,1,101.0,NaN,areeb,2.0,"SHOP NO 43,44 SHAHAB UDDIN MKT",CDGK PARKING PLAZA,1,4,1,2,01,IRFAN,"24.86464589,67.03355183",1,N,12,1,1,1
355170,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002045,AQEEL WHOLE SALER,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1071222,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP NO A-182 JUTT LINE,CDGK PARKING PLAZA,1,4,1,2,01,M.AQEEL,"24.86543479,67.03618068",1,N,12,1,1,1
355171,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002088,GHOUSIA CONFECTIONERY SHOP,38,LINE'S AREA 2,16,Whole Sale,2013-08-01 00:00:00.000,2708400,0,2,1002.0,2,102.0,NaN,areeb,2.0,PLT # 7 LIAQUAT ROAD JUTT LINE,USMANIA MASJID,1,4,1,2,RG,KASHIF,"24.86784534,67.04458501",1,N,16,2,1,1
355172,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001072,LATIF WHOLE SELLER,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1000451,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP NO 2 HIJRAT COLONY,GHOUSIA MASJID,1,4,1,2,RG,IBRAR,"24.84131182,67.01770422",1,N,16,2,1,1
355173,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001134,ZULQARNAIN WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1002086,0,1,1001.0,1,101.0,NaN,areeb,2.0,STRET 29 SHOP # 1 HIJRAT CLNY,RIZWANIYA MASJID,1,4,1,2,RG,AYAZ,"24.83645713,67.02357356",1,N,16,2,1,1
355174,T00027,SADDAR,5,SULTANABAD,5,RAILWAY COLONY,T00027005005036,JAMROOZ WHOLE SALLER,33,RAILWAY COLONY,12,Confectionary,2013-08-01 00:00:00.000,1094321,0,1,1001.0,1,101.0,NaN,areeb,2.0,BLOCK NO 233 RAILWAY COLONY,NORANI MASJID,1,4,0,2,01,JAMROOZ,"24.84719837,67.01062425",1,N,12,1,1,1
355175,T00027,SADDAR,5,SULTANABAD,3,PIDC,T00027005003019,SALAR ZAI WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1131111,0,1,1001.0,1,101.0,NaN,areeb,2.0,GATE # 10 PLOT # 4 HAZARA CHOK,GHOUSIA MASJID,1,4,1,2,RG,SULTAN,"24.8419948,67.01718672",1,N,16,2,1,1
355176,T00014,KEMARI,1,BHUTTA VILLAGE,6,QASIM SHAH ROAD,T00014001006030,SAMAD WHOLE SALE,25,KEMARI W/S,12,Confectionary,2013-07-27 00:00:00.000,7084678,0,7,1007.0,7,107.0,NaN,areeb,2.0,ZAROBI COLONY ASGHAR MASJID,BADAR GROUND,1,4,0,2,01,A.HAMID,NaN,1,N,12,1,1,1
355177,T00015,MEHMOODABAD,6,MANZOOR COLONY,7,PUNJAB ROAD,T00015006007006,MASHALLAH GENERAL STORE,22,MANZOOR COLNY 2,4,General Store,2013-07-18 00:00:00.000,8082937,0,8,1008.0,8,108.0,NaN,areeb,2.0,605 MANZOOR COLONY,JADOON CHOWK,1,3,0,2,01,BANARAS,NaN,1,N,4,1,1,2

In [25]:
df.shape

(355178, 37)

In [74]:
df.count()

TOWN               355178
TOWN_DESC          355178
LOCALITY           355178
LOCALITY_DESC      355178
SLOCALITY          355178
SLOCALITY_DESC     355178
POP_CODE           355178
POP_NAME           355178
SECTION            355178
SECTION_DESC       355178
POS_TYPE_CODE      355178
POS_TYPE           355178
DOC_DATE           355178
DOC_NO             355178
ORDER_STATUS       355178
PJP                355178
REF_PJP            355178
DSR                355178
REF_DSR            355178
HHT_SRNO           355178
USER_ENTRY         355178
PAYMENT_MODE       355178
MARKET_NAME        355178
STREET             355178
COMPANY_RANK       355178
RANK               355178
ACTIVE             355178
AREATYPE           355178
SHOPPER_TYPE       355178
OWNER_NAME         355178
GPS_COORDINATES    355178
GEOCODE            355178
RURAL              355178
SUB_ELEMENT        355178
CHANNEL            355178
SUB_CHANNEL        355178
ELEMENT            355178
dtype: int64

In [36]:
df[df.isnull().any(axis=1)]

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,POS_TYPE_CODE,POS_TYPE,DOC_DATE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,HHT_SRNO,USER_ENTRY,PAYMENT_MODE,MARKET_NAME,STREET,COMPANY_RANK,RANK,ACTIVE,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT
131,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001043,IBRAHIM GENERAL STORE,43,CHANDNI CHOWK,4,General Store,2017-10-03 00:00:00.000,170003038511,1,3,1003.0,3,103.0,23.0,laraib,1.0,JABBAR ARCADE B-S C28,MASHRIQ CENTER,7,3,1,2,01,Ibrahim,NaN,3,Y,4,1,1,2
132,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001043,IBRAHIM GENERAL STORE,43,CHANDNI CHOWK,4,General Store,2017-10-03 00:00:00.000,170003038721,1,3,1003.0,3,103.0,23.0,laraib,1.0,JABBAR ARCADE B-S C28,MASHRIQ CENTER,7,3,1,2,01,Ibrahim,NaN,3,Y,4,1,1,2
197,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003103,HUSSAIN GENERAL STORE,17,TARIQ RD HILPRK,4,General Store,2017-10-03 00:00:00.000,170012092961,1,12,2003.0,12,115.0,29.0,012,2.0,BLOCK 3 SHAHEED-E-MILAT ROAD,DMCHS,7,3,1,2,01,Jameel,NaN,3,Y,4,1,1,2
274,T00026,PIB COLONY,1,JAMSHEED ROAD,4,MARTIN QUARTER,T00026001004187,USMANI GENERAL STORE,1,MARTIN QUARTER,4,General Store,2017-10-03 00:00:00.000,170022080591,0,22,1013.0,21,104.0,37.0,021,2.0,MAIN IMRAN BARA MARTIN ROAD,GOVERNMENT MARKET,1,3,1,2,RG,USMAN,NaN,1,N,4,1,1,2
313,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003013,DECENT MEDICAL STORE,17,TARIQ RD HILPRK,7,Medical Store,2017-10-03 00:00:00.000,170012092991,0,12,2003.0,12,115.0,19.0,012,2.0,SHOP NO 6 BLOCK 33 HILL PARK,BALOCH COLONY BRADGE,1,3,1,2,01,RAFIQ,NaN,3,Y,7,1,1,3
362,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003067,ARIF PAN SHOP,17,TARIQ RD HILPRK,9,Pan Shop,2017-10-03 00:00:00.000,170012092981,0,12,2003.0,12,115.0,18.0,012,2.0,MEMON SOCIETY KMCHS HILL PARK,DMCHS,1,3,1,2,NaN,ARIF,NaN,3,Y,9,1,4,3
370,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001044,V.I.P PAN SHOP,43,CHANDNI CHOWK,9,Pan Shop,2017-10-03 00:00:00.000,170003038781,1,3,1003.0,3,103.0,20.0,laraib,1.0,SHOP NO.12 NOORABAD,MASHRIQ CENTER,7,3,1,2,01,KOUSAR,NaN,3,Y,9,1,4,3
371,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001044,V.I.P PAN SHOP,43,CHANDNI CHOWK,9,Pan Shop,2017-10-03 00:00:00.000,170003038861,1,3,1003.0,3,103.0,20.0,laraib,1.0,SHOP NO.12 NOORABAD,MASHRIQ CENTER,7,3,1,2,01,KOUSAR,NaN,3,Y,9,1,4,3
372,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001044,V.I.P PAN SHOP,43,CHANDNI CHOWK,9,Pan Shop,2017-10-03 00:00:00.000,170003038521,1,3,1003.0,3,103.0,20.0,laraib,1.0,SHOP NO.12 NOORABAD,MASHRIQ CENTER,7,3,1,2,01,KOUSAR,NaN,3,Y,9,1,4,3
373,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001044,V.I.P PAN SHOP,43,CHANDNI CHOWK,9,Pan Shop,2017-10-03 00:00:00.000,170003038641,1,3,1003.0,3,103.0,20.0,laraib,1.0,SHOP NO.12 NOORABAD,MASHRIQ CENTER,7,3,1,2,01,KOUSAR,NaN,3,Y,9,1,4,3
458,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001044,V.I.P PAN SHOP,43,CHANDNI CHOWK,9,Pan Shop,2017-10-02 00:00:00.000,170003082131,1,3,1003.0,3,103.0,20.0,003,2.0,SHOP NO.12 NOORABAD,MASHRIQ CENTER,7,3,1,2,01,KOUSAR,NaN,3,Y,9,1,4,3
691,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001043,IBRAHIM GENERAL STORE,43,CHANDNI CHOWK,4,General Store,2017-10-02 00:00:00.000,170003082121,1,3,1003.0,3,103.0,23.0,003,2.0,JABBAR ARCADE B-S C28,MASHRIQ CENTER,7,3,1,2,01,Ibrahim,NaN,3,Y,4,1,1,2
724,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002086,U.S GENERAL STORE,14,IQBL CL PIB WS,4,General Store,2017-10-02 00:00:00.000,170025001761,0,25,2005.0,23,118.0,0.0,laraib,1.0,IQBAL COLONY,IQBAL COLONY,7,3,1,2,01,MUNEEB,NaN,1,N,4,1,1,2
777,T00026,PIB COLONY,2,PIB MAIN ROAD,3,KARACHI CENTER,T00026002003034,KASHIF GENERAL STORE,14,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170025004821,0,25,2005.0,23,118.0,0.0,laraib,1.0,PLOT NO.SK-37 PIB COLONY,PRESS GATE,1,3,1,2,RG,KASHIF,NaN,1,N,4,1,1,2
778,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002086,U.S GENERAL STORE,14,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170025004741,0,25,2005.0,23,118.0,0.0,laraib,1.0,IQBAL COLONY,IQBAL COLONY,7,3,1,2,01,MUNEEB,NaN,1,N,4,1,1,2
804,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002039,MEHMOOD GENERAL STORE,48,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170003081741,1,3,1003.0,3,103.0,23.0,003,2.0,AB SIDDIQ ROAD PIB,MEENA BAZAR,1,3,1,2,01,MEHMOOD,NaN,1,N,4,1,1,2
807,T00026,PIB COLONY,2,PIB MAIN ROAD,3,KARACHI CENTER,T00026002003034,KASHIF GENERAL STORE,48,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170003081531,0,3,1003.0,3,103.0,16.0,003,2.0,PLOT NO.SK-37 PIB COLONY,PRESS GATE,1,3,1,2,RG,KASHIF,NaN,1,N,4,1,1,2
808,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002085,LALA GENERAL STORE,48,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170003081651,0,3,1003.0,3,103.0,19.0,003,2.0,PLOT NO.113,IQBAL COLONY,7,3,1,2,01,HARIS,NaN,1,N,4,1,1,2
809,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002085,LALA GENERAL STORE,48,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170003081641,1,3,1003.0,3,103.0,9.0,003,2.0,PLOT NO.113,IQBAL COLONY,7,3,1,2,01,HARIS,NaN,1,N,4,1,1,2
810,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002037,MADINA ZAHID GENERAL STORE,48,IQBL CL PIB WS,4,General Store,2017-09-29 00:00:00.000,170003081721,1,3,1003.0,3,103.0,15.0,003,2.0,IQBAL COLONY,TINHATI CHOWRANGI,1,3,1,2,01,ZAHID,NaN,1,N,4,1,1,2
862,T00009,SOCIETY,3,M A SOCIETY,2,CP BARAR SCIETY,T00009003002039,KHALID GENERAL STORE,15,M.A SOC DHORAJI,4,General Store,2017-09-29 00:00:00.000,170012092081,0,12,2003.0,12,115.0,0.0,laraib,1.0,Shop No. 22,CP BARAR SCIETY,7,3,1,2,01,Khalid,NaN,3,Y,4,1,1,2
966,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002084,BABU PAN SHOP,48,IQBL CL PIB WS,9,Pan Shop,2017-09-29 00:00:00.000,170003081631,1,3,1003.0,3,103.0,12.0,003,2.0,PLOT NO.E-1698,IQBAL COLONY,7,3,1,2,01,SAJID,NaN,1,N,9,1,4,3
1040,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001052,CHASE DEPARTMENT STORE,3,AL FALAH,11,Contracted,2017-09-28 00:00:00.000,170022079821,1,22,1013.0,21,104.0,0.0,laraib,1.0,Plot #159-R Block -3 Shaheed e,AL FALAH,1,6,1,2,01,M JUNAID,NaN,3,Y,11,3,1,1
1057,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003002,AGHA JAN MEDICAL & GENERAL STORE,47,TARIQ RD HILPRK,7,Medical Store,2017-09-28 00:00:00.000,170003081501,1,3,1003.0,3,103.0,29.0,003,2.0,SHOP NO 1 D.M.C.H.S TARIQ ROAD,MADINA MASJID,1,3,1,2,01,AGHA,NaN,3,Y,7,1,1,3
1058,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003013,DECENT MEDICAL STORE,47,TARIQ RD HILPRK,7,Medical Store,2017-09-28 00:00:00.000,170003081491,0,3,1003.0,3,103.0,14.0,003,2.0,SHOP NO 6 BLOCK 33 HILL PARK,BALOCH COLONY BRADGE,1,3,1,2,01,RAFIQ,NaN,3,Y,7,1,1,3
1210,T00013,DEFENCE,4,DHA-5,1,BADAR COMERCIAL,T00013004001013,BHAI BHAI GENERAL STORE,40,MARTIN QUARTER,4,General Store,2017-09-28 00:00:00.000,170002085741,0,2,1002.0,2,102.0,0.0,laraib,1.0,SHOP # 7 DARAKSHAN MARKET,DARAKSHAN MARKET,1,3,1,2,RG,SHEHZAD,NaN,1,N,4,1,1,2
1234,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003103,HUSSAIN GENERAL STORE,47,TARIQ RD HILPRK,4,General Store,2017-09-28 00:00:00.000,170003081451,0,3,1003.0,3,103.0,28.0,003,2.0,BLOCK 3 SHAHEED-E-MILAT ROAD,DMCHS,7,3,1,2,01,Jameel,NaN,3,Y,4,1,1,2
1237,T00009,SOCIETY,4,TARIQ ROAD,2,COMMERCIAL MKT,T00009004002068,SUPER QADRI GIFT STORE,47,TARIQ RD HILPRK,4,General Store,2017-09-28 00:00:00.000,170003081511,0,3,1003.0,3,103.0,32.0,003,2.0,BLOCK 2 COMMERCIAL MARKET,MAMOUR MASJID,1,3,1,2,01,AZAM,NaN,3,Y,4,1,1,2
1240,T00009,SOCIETY,4,TARIQ ROAD,3,DMCHS,T00009004003103,HUSSAIN GENERAL STORE,5,TARIQ RD HILPRK,4,General Store,2017-09-28 00:00:00.000,170025004711,0,25,2005.0,23,118.0,0.0,laraib,1.0,BLOCK 3 SHAHEED-E-MILAT ROAD,DMCHS,7,3,1,2,01,Jameel,NaN,3,Y,4,1,1,2
1346,T00026,PIB COLONY,2,PIB MAIN ROAD,2,IQBAL COLONY,T00026002002064,TAQI GENERAL STORE,14,IQBL CL PIB WS,4,General Store,2017-09-27 00:00:00.000,170025004631,0,25,2005.0,23,118.0,0.0,laraib,1.0,SHOP NO.1-E-20,NAFEESABAD,1,3,1,2,RG,ANWAR,NaN,1,N,4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355148,T00012,CLIFTON,2,CANTT,1,BAZZARTA LINE,T00012002001072,MADINA GENERAL STORE,1,BAZARTA LINE,4,General Store,2013-08-01 00:00:00.000,4054542,0,4,1004.0,4,104.0,NaN,areeb,2.0,HOUSE NO 926,KALI TANKI,1,3,0,2,01,IRFAN,NaN,1,N,4,1,1,2
355149,T00012,CLIFTON,2,CANTT,1,BAZZARTA LINE,T00012002001017,AL REHMAN GENERAL STORE,16,CLIFTON CANTT,4,General Store,2013-08-01 00:00:00.000,6002041,0,6,1006.0,6,106.0,NaN,areeb,2.0,PLOT NO 327 BAZZARTA LINE,KALA PUL,1,3,0,2,01,BILAL,NaN,1,N,4,1,1,2
355150,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001033,SOCIETY GENERAL STORE,47,TARIQ RD HILPRK,4,General Store,2013-08-01 00:00:00.000,3051011,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP 8 8/A BLOCK 2 A-MARKET,KDA COMMERCIALPLEX,1,4,0,2,01,ZAHID ZUBAIR,"24.87171042,67.05850237",3,Y,4,1,1,2
355151,T00009,SOCIETY,4,TARIQ ROAD,1,AL FALAH,T00009004001013,DECENT GENERAL STORE,47,TARIQ RD HILPRK,4,General Store,2013-08-01 00:00:00.000,3084222,0,3,1003.0,3,103.0,NaN,areeb,2.0,FALCON PLAZA T-ROAD,DOLMEN MALL 2,1,3,1,2,RG,SHAFIQ,"24.86778528,67.07545474",3,Y,4,1,1,2
355152,T00009,SOCIETY,3,M A SOCIETY,1,ADAMJI NAGAR,T00009003001045,KHURSHEED MILK SHOP,45,M.A SOC DHORAJI,6,Milk Shop,2013-08-01 00:00:00.000,3131111,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP 4 RIAZ CENTER,OPPOSITE BOHRI JAMAT KHANA,1,3,1,2,RG,KHURSEED,"24.86944378,67.08289356",3,Y,6,1,1,1
355153,T00009,SOCIETY,3,M A SOCIETY,3,DHORAJI,T00009003003008,ANAJ GENERAL STORE,45,M.A SOC DHORAJI,4,General Store,2013-08-01 00:00:00.000,3051102,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 1 SAILANI BEROR,ZUBAIDA HOSPITAL,1,3,1,2,RG,ASLAM,"24.88399125,67.08180595",3,Y,4,1,1,2
355154,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003043,SHARIFABAD GENERAL STORE,46,BAHADURABAD,4,General Store,2013-08-01 00:00:00.000,3121111,0,3,1003.0,3,103.0,NaN,areeb,2.0,STREET 18 SHOP 259 SHARIFABAD,TV STATION,1,3,1,2,RG,ASIF,"24.8858097,67.06861365",3,Y,4,1,1,2
355155,T00009,SOCIETY,1,BAHADURABAD,3,SHARIFABAD,T00009001003050,ZAM ZAM GENERAL STORE,46,BAHADURABAD,4,General Store,2013-08-01 00:00:00.000,3051000,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 7 C.P BEROR SOCIETY,TV STATION,1,3,1,2,RG,ALTAF,"24.88589983,67.06387655",3,Y,4,1,1,2
355156,T00009,SOCIETY,2,CHANDNI CHOWK,1,MASHRIQ CENTER,T00009002001007,FAIZAN GENERALSTORE,43,CHANDNI CHOWK,4,General Store,2013-08-01 00:00:00.000,3044444,0,3,1003.0,3,103.0,NaN,areeb,2.0,SHOP NO 17 MASHRAQ CENTER,CIVIC CENTRE,1,3,0,2,01,SHAHID KAMAL,NaN,3,Y,4,1,1,2
355157,T00027,SADDAR,3,BURNS ROAD,3,RATAN TULLAO,T00027003003087,USAMA WHOLE SALLER,32,BURNS ROAD,12,Confectionary,2013-08-01 00:00:00.000,1000091,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # 7 STREET # 3,-,1,4,0,2,01,USAMA,NaN,1,N,12,1,1,1
355158,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001072,MASHALLAH SHARIF GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2000871,0,2,1002.0,2,102.0,NaN,areeb,2.0,SECTOR 1 APPOSIT THANRI MASJID,NEAR TANVEER MASJID,1,3,1,2,RG,SHOAIB YOUSUF,"24.86702313,67.03338995",1,N,4,1,1,2
355159,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002001,A ONE GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2081244,0,2,1002.0,2,102.0,NaN,areeb,2.0,62 TANGA STAND,MADINA MASJID,1,3,1,2,RG,RASHEED,"24.86497544,67.02614022",1,N,4,1,1,2
355160,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1084881,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355161,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1064101,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355162,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1750452,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355163,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001141,WAQAR CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1012132,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP # A-45 A MKT JACOB LINE,A-MARKET,1,4,0,2,01,WALI,NaN,1,N,12,1,1,1
355164,T00027,SADDAR,4,LINE'S AREA,1,JACOB LINE,T00027004001110,SATTAR WHOLE SALER,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1091345,0,1,1001.0,1,101.0,NaN,areeb,2.0,"SHOP 58,59 SHAHBUDDING MKT 3",SHAHABUDDIN MARKET,1,4,1,2,01,M.SATTAR,"24.86438791,67.0338175",1,N,12,1,1,1
355165,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002250,YAMEEN CONFECTIONERY SHOP,38,LINE'S AREA 2,16,Whole Sale,2013-08-01 00:00:00.000,2214000,0,2,1002.0,2,102.0,NaN,areeb,2.0,NIZOMI ROAD JUTT LINE SADDAR,DAWUL-SALAT MASJID,1,4,1,2,RG,AZEEM ULLAH,"24.86769161,67.04090497",1,N,16,2,1,1
355166,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002212,SHAMSO WHOLE SALE,37,LINE'S AREA 1,12,Confectionary,2013-08-01 00:00:00.000,2051000,0,2,1002.0,2,102.0,NaN,areeb,2.0,POST OFFICE ROAD LINES AREA,POST OFFICE,1,4,0,2,01,SHAMS,NaN,1,N,12,1,1,1
355167,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002212,SHAMSO WHOLE SALE,37,LINE'S AREA 1,12,Confectionary,2013-08-01 00:00:00.000,2008421,0,2,1002.0,2,102.0,NaN,areeb,2.0,POST OFFICE ROAD LINES AREA,POST OFFICE,1,4,0,2,01,SHAMS,NaN,1,N,12,1,1,1
355168,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002102,IMRAN GENERAL STORE,37,LINE'S AREA 1,4,General Store,2013-08-01 00:00:00.000,2041214,0,2,1002.0,2,102.0,NaN,areeb,2.0,PLOT # L-6 SEC 87/C SHOP # 24,-,1,3,1,2,RG,IMRAN,"24.86916424,67.04462945",1,N,4,1,1,2
355169,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002103,IQBAL PAPA CONFECTIONERY SHOP,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1097123,0,1,1001.0,1,101.0,NaN,areeb,2.0,"SHOP NO 43,44 SHAHAB UDDIN MKT",CDGK PARKING PLAZA,1,4,1,2,01,IRFAN,"24.86464589,67.03355183",1,N,12,1,1,1
355170,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002045,AQEEL WHOLE SALER,31,SHAHABUDDIN WS,12,Confectionary,2013-08-01 00:00:00.000,1071222,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP NO A-182 JUTT LINE,CDGK PARKING PLAZA,1,4,1,2,01,M.AQEEL,"24.86543479,67.03618068",1,N,12,1,1,1
355171,T00027,SADDAR,4,LINE'S AREA,2,JUTT LINE,T00027004002088,GHOUSIA CONFECTIONERY SHOP,38,LINE'S AREA 2,16,Whole Sale,2013-08-01 00:00:00.000,2708400,0,2,1002.0,2,102.0,NaN,areeb,2.0,PLT # 7 LIAQUAT ROAD JUTT LINE,USMANIA MASJID,1,4,1,2,RG,KASHIF,"24.86784534,67.04458501",1,N,16,2,1,1
355172,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001072,LATIF WHOLE SELLER,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1000451,0,1,1001.0,1,101.0,NaN,areeb,2.0,SHOP NO 2 HIJRAT COLONY,GHOUSIA MASJID,1,4,1,2,RG,IBRAR,"24.84131182,67.01770422",1,N,16,2,1,1
355173,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001134,ZULQARNAIN WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1002086,0,1,1001.0,1,101.0,NaN,areeb,2.0,STRET 29 SHOP # 1 HIJRAT CLNY,RIZWANIYA MASJID,1,4,1,2,RG,AYAZ,"24.83645713,67.02357356",1,N,16,2,1,1
355174,T00027,SADDAR,5,SULTANABAD,5,RAILWAY COLONY,T00027005005036,JAMROOZ WHOLE SALLER,33,RAILWAY COLONY,12,Confectionary,2013-08-01 00:00:00.000,1094321,0,1,1001.0,1,101.0,NaN,areeb,2.0,BLOCK NO 233 RAILWAY COLONY,NORANI MASJID,1,4,0,2,01,JAMROOZ,"24.84719837,67.01062425",1,N,12,1,1,1
355175,T00027,SADDAR,5,SULTANABAD,3,PIDC,T00027005003019,SALAR ZAI WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01 00:00:00.000,1131111,0,1,1001.0,1,101.0,NaN,areeb,2.0,GATE # 10 PLOT # 4 HAZARA CHOK,GHOUSIA MASJID,1,4,1,2,RG,SULTAN,"24.8419948,67.01718672",1,N,16,2,1,1
355176,T00014,KEMARI,1,BHUTTA VILLAGE,6,QASIM SHAH ROAD,T00014001006030,SAMAD WHOLE SALE,25,KEMARI W/S,12,Confectionary,2013-07-27 00:00:00.000,7084678,0,7,1007.0,7,107.0,NaN,areeb,2.0,ZAROBI COLONY ASGHAR MASJID,BADAR GROUND,1,4,0,2,01,A.HAMID,NaN,1,N,12,1,1,1
355177,T00015,MEHMOODABAD,6,MANZOOR COLONY,7,PUNJAB ROAD,T00015006007006,MASHALLAH GENERAL STORE,22,MANZOOR COLNY 2,4,General Store,2013-07-18 00:00:00.000,8082937,0,8,1008.0,8,108.0,NaN,areeb,2.0,605 MANZOOR COLONY,JADOON CHOWK,1,3,0,2,01,BANARAS,NaN,1,N,4,1,1,2

In [39]:
df['GPS_COORDINATES'] = df['GPS_COORDINATES'].fillna('0.0,0.0')

In [40]:
df.GPS_COORDINATES

0         24.88901459,67.04905551
1         24.89015118,67.04589786
2         24.86038398,67.02951905
3         24.88451887,67.06439404
4         24.88241835,67.06616701
5         24.86927765,67.06063011
6         24.87183287,67.05918069
7         24.87858026,67.06401698
8          24.8669242,67.04866831
9         24.87451305,67.05442566
10        24.86729266,67.04731784
11        24.88948055,67.06374828
12        24.88948055,67.06374828
13        24.87493177,67.08887794
14        24.87493177,67.08887794
15        24.89229153,67.05406226
16         24.8927398,67.05393448
17        24.89590624,67.05676043
18        24.89271348,67.05438343
19        24.89596124,67.05679864
20        24.89047212,67.05835597
21         24.89405781,67.0581324
22        24.89200455,67.05354672
23         24.8593841,67.01978669
24        24.86103293,67.02055746
25        24.86298269,67.03052361
26        24.85838585,67.02409364
27        24.85938406,67.01978717
28         24.8669242,67.04866831
29        24.86560227,67.03738105
                   ...
355148                    0.0,0.0
355149                    0.0,0.0
355150    24.87171042,67.05850237
355151    24.86778528,67.07545474
355152    24.86944378,67.08289356
355153    24.88399125,67.08180595
355154     24.8858097,67.06861365
355155    24.88589983,67.06387655
355156                    0.0,0.0
355157                    0.0,0.0
355158    24.86702313,67.03338995
355159    24.86497544,67.02614022
355160                    0.0,0.0
355161                    0.0,0.0
355162                    0.0,0.0
355163                    0.0,0.0
355164     24.86438791,67.0338175
355165    24.86769161,67.04090497
355166                    0.0,0.0
355167                    0.0,0.0
355168    24.86916424,67.04462945
355169    24.86464589,67.03355183
355170    24.86543479,67.03618068
355171    24.86784534,67.04458501
355172    24.84131182,67.01770422
355173    24.83645713,67.02357356
355174    24.84719837,67.01062425
355175     24.8419948,67.01718672
355176                    0.0,0.0
355177                    0.0,0.0
Name: GPS_COORDINATES, Length: 355178, dtype: object

In [42]:
df.SHOPPER_TYPE

0         RG
1         RG
2         01
3         RG
4         RG
5         RG
6         RG
7         RG
8         RG
9         RG
10        RG
11        RG
12        RG
13        RG
14        RG
15        RG
16        RG
17        RG
18        RG
19        RG
20        RG
21        RG
22        RG
23        RG
24        RG
25        RG
26        RG
27        01
28        RG
29        RG
          ..
355148    01
355149    01
355150    01
355151    RG
355152    RG
355153    RG
355154    RG
355155    RG
355156    01
355157    01
355158    RG
355159    RG
355160    01
355161    01
355162    01
355163    01
355164    01
355165    RG
355166    01
355167    01
355168    RG
355169    01
355170    01
355171    RG
355172    RG
355173    RG
355174    01
355175    RG
355176    01
355177    01
Name: SHOPPER_TYPE, Length: 355178, dtype: object

In [45]:
df.SHOPPER_TYPE.value_counts()

RG    246333
01    108482
L1       363
Name: SHOPPER_TYPE, dtype: int64

In [44]:
df.SHOPPER_TYPE = df.SHOPPER_TYPE.fillna(df.SHOPPER_TYPE.value_counts().index[0])

In [47]:
df.STREET

0                     USMANIA MASJID
1                      BAKADI MASJID
2                         PRESS CLUB
3                   C.P BERAN MASJID
4                       KOKAN GROUND
5                       QADRI MASJID
6                      MAMOUR MASJID
7                      DOLMEN MALL 2
8                DAR UL SALAM MASJID
9                       AL FALAH MKT
10               DAR UL SALAM MASJID
11                      CIVIC CENTRE
12                      CIVIC CENTRE
13                       AULA MASJID
14                       AULA MASJID
15                    P.I.B BUS STOP
16                       MEENA BAZAR
17                       MEENA BAZAR
18                      IQBAL COLONY
19                       MEENA BAZAR
20                    KARACHI CENTRE
21        JAMA MASJID FAIZA-E-ATTARI
22                  SABZI STREET PIB
23                    7 DAY HOSPITAL
24             PREEDY POLICE STATION
25                      PREEDY THANA
26                               FIA
27                     HIJRAT COLONY
28               DAR UL SALAM MASJID
29                  AL MADINA MASJID
                     ...
355148                    KALI TANKI
355149                      KALA PUL
355150            KDA COMMERCIALPLEX
355151                 DOLMEN MALL 2
355152    OPPOSITE BOHRI JAMAT KHANA
355153              ZUBAIDA HOSPITAL
355154                    TV STATION
355155                    TV STATION
355156                  CIVIC CENTRE
355157                             -
355158           NEAR TANVEER MASJID
355159                 MADINA MASJID
355160                      A-MARKET
355161                      A-MARKET
355162                      A-MARKET
355163                      A-MARKET
355164            SHAHABUDDIN MARKET
355165            DAWUL-SALAT MASJID
355166                   POST OFFICE
355167                   POST OFFICE
355168                             -
355169            CDGK PARKING PLAZA
355170            CDGK PARKING PLAZA
355171                USMANIA MASJID
355172                GHOUSIA MASJID
355173              RIZWANIYA MASJID
355174                 NORANI MASJID
355175                GHOUSIA MASJID
355176                  BADAR GROUND
355177                  JADOON CHOWK
Name: STREET, Length: 355178, dtype: object

In [49]:
df.STREET.isnull().value_counts()

False    354951
True        227
Name: STREET, dtype: int64

In [50]:
df.STREET.value_counts()

-                        13878
MEENA BAZAR               9962
USMANIA MASJID            5979
MADINA MASJID             5136
MID CITY APPARTMENT       5124
CDGK PARKING PLAZA        4729
AL MADINA MASJID          4574
A-MARKET                  4526
GHOUSIA MASJID            4314
CIA CENTRE                3981
BISMILLAH MASJID          3849
NEAR TANVEER MASJID       3746
BISCONNI CIRCLE           3618
C.I.A CENTER              3458
USMANI PARK               3444
QUBA MASJID               3443
BAHADURABAD CHOWK         3410
ALVA WAFAR                3332
CIVIC CENTRE              3248
DAR UL SALAM MASJID       3173
RAILWAY PATHAK            3121
GHARYAL BUILDING          3081
PREEDY THANA              2963
MARTIN QUARTER            2905
JUTT LINE                 2758
A B SENIA BAZAR           2681
ZAINAB MARKET             2669
YAQOOBIA MASJID           2595
PSO PUMP                  2579
MOHAMMAD MASJID           2555
                         ...
LAL KOTHI                    2
BHUTTO GROUND                2
RADIO PAKISTAN               2
PINGERI PAHRA                2
FAISAL BANK                  2
COMMERCIAL MKT               2
MEEZAN BANK                  2
UMER COLONY                  2
FURNITER MKT                 2
MCB BANK                     2
GOSH MART                    2
KMC HOSPITAL                 2
SHAHEEN GROUND               2
SADIQ MASJID                 1
QAYYUMABAD CHOWRANGI         1
CLIFTON BRIDGE               1
ST ANDREW CHRUCH             1
UMAR COLONY                  1
SOCIETY                      1
CHINA TOWN                   1
GARDEN CHOWK                 1
EXT 2                        1
FAIZAN MASJID                1
GHARYALI BUILLDING           1
GIZRI FOOTBAL GROUND         1
NEAR AHMED HOSPITAL          1
MASJID E AQSA                1
LUCKY AFRIDI ROAD            1
GAS BANDAR ROAD              1
HEAVEN APPARTMENT            1
Name: STREET, Length: 700, dtype: int64

In [51]:
df.STREET = df.STREET.fillna('Missing')

In [53]:
df.STREET

0                     USMANIA MASJID
1                      BAKADI MASJID
2                         PRESS CLUB
3                   C.P BERAN MASJID
4                       KOKAN GROUND
5                       QADRI MASJID
6                      MAMOUR MASJID
7                      DOLMEN MALL 2
8                DAR UL SALAM MASJID
9                       AL FALAH MKT
10               DAR UL SALAM MASJID
11                      CIVIC CENTRE
12                      CIVIC CENTRE
13                       AULA MASJID
14                       AULA MASJID
15                    P.I.B BUS STOP
16                       MEENA BAZAR
17                       MEENA BAZAR
18                      IQBAL COLONY
19                       MEENA BAZAR
20                    KARACHI CENTRE
21        JAMA MASJID FAIZA-E-ATTARI
22                  SABZI STREET PIB
23                    7 DAY HOSPITAL
24             PREEDY POLICE STATION
25                      PREEDY THANA
26                               FIA
27                     HIJRAT COLONY
28               DAR UL SALAM MASJID
29                  AL MADINA MASJID
                     ...
355148                    KALI TANKI
355149                      KALA PUL
355150            KDA COMMERCIALPLEX
355151                 DOLMEN MALL 2
355152    OPPOSITE BOHRI JAMAT KHANA
355153              ZUBAIDA HOSPITAL
355154                    TV STATION
355155                    TV STATION
355156                  CIVIC CENTRE
355157                             -
355158           NEAR TANVEER MASJID
355159                 MADINA MASJID
355160                      A-MARKET
355161                      A-MARKET
355162                      A-MARKET
355163                      A-MARKET
355164            SHAHABUDDIN MARKET
355165            DAWUL-SALAT MASJID
355166                   POST OFFICE
355167                   POST OFFICE
355168                             -
355169            CDGK PARKING PLAZA
355170            CDGK PARKING PLAZA
355171                USMANIA MASJID
355172                GHOUSIA MASJID
355173              RIZWANIYA MASJID
355174                 NORANI MASJID
355175                GHOUSIA MASJID
355176                  BADAR GROUND
355177                  JADOON CHOWK
Name: STREET, Length: 355178, dtype: object

In [55]:
df.HHT_SRNO.value_counts()

0.0      264268
1.0        2780
3.0        2765
2.0        2735
4.0        2715
6.0        2711
7.0        2698
5.0        2694
13.0       2685
8.0        2683
9.0        2665
10.0       2663
12.0       2662
14.0       2652
15.0       2637
11.0       2619
16.0       2600
17.0       2599
18.0       2559
19.0       2547
20.0       2500
21.0       2492
23.0       2471
22.0       2452
24.0       2402
25.0       2331
26.0       2260
27.0       2223
28.0       2143
29.0       2069
          ...
42.0        318
43.0        224
44.0        174
45.0        133
46.0        111
47.0         88
48.0         55
49.0         41
51.0         36
50.0         35
52.0         33
53.0         20
54.0         19
55.0         15
56.0         13
57.0         10
58.0          8
60.0          8
61.0          8
59.0          8
67.0          6
62.0          4
63.0          3
64.0          2
65.0          2
66.0          2
69.0          1
68.0          1
70.0          1
999.0         1
Name: HHT_SRNO, Length: 72, dtype: int64

In [58]:
df.HHT_SRNO = df.HHT_SRNO.fillna(0.0)

In [62]:
df.PAYMENT_MODE.value_counts()

1.0    336586
2.0     18078
0.0       514
Name: PAYMENT_MODE, dtype: int64

In [61]:
df.PAYMENT_MODE = df.PAYMENT_MODE.fillna(0.0)

In [66]:
df.REF_PJP.value_counts()

1002.0    59726
1003.0    58942
1013.0    57206
1012.0    32619
1001.0    31051
1005.0    30219
1011.0    27101
2003.0    25559
2004.0    14836
1016.0     7598
1008.0     2298
1006.0     2174
1004.0     1862
1007.0     1748
2005.0      682
2006.0      651
2007.0      597
1010.0      119
24.0        118
1014.0       51
1015.0       14
1.0           3
2002.0        2
2001.0        1
Name: REF_PJP, dtype: int64

In [67]:
df.REF_PJP = df.REF_PJP.fillna(df.REF_PJP.value_counts().index[0])

In [68]:
len(df.REF_PJP)

355178

In [70]:
df.REF_DSR.value_counts()

102.0    59726
104.0    59068
103.0    58942
108.0    34917
101.0    31051
105.0    30219
106.0    29275
115.0    25559
117.0    14836
114.0     7598
107.0     1748
118.0      682
119.0      651
121.0      597
1.0        121
110.0      119
111.0       51
112.0       14
113.0        2
16.0         1
Name: REF_DSR, dtype: int64

In [71]:
df.REF_DSR = df.REF_DSR.fillna(df.REF_DSR.value_counts().index[0])

In [73]:
len(df.REF_DSR)

355178

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355178 entries, 0 to 355177
Data columns (total 37 columns):
TOWN               355178 non-null object
TOWN_DESC          355178 non-null object
LOCALITY           355178 non-null int64
LOCALITY_DESC      355178 non-null object
SLOCALITY          355178 non-null int64
SLOCALITY_DESC     355178 non-null object
POP_CODE           355178 non-null object
POP_NAME           355178 non-null object
SECTION            355178 non-null int64
SECTION_DESC       355178 non-null object
POS_TYPE_CODE      355178 non-null category
POS_TYPE           355178 non-null category
DOC_DATE           355178 non-null datetime64[ns]
DOC_NO             355178 non-null int64
ORDER_STATUS       355178 non-null category
PJP                355178 non-null int64
REF_PJP            355178 non-null int64
DSR                355178 non-null int64
REF_DSR            355178 non-null int64
HHT_SRNO           355178 non-null int64
USER_ENTRY         355178 non-null object
PAYMENT_MODE       355178 non-null category
MARKET_NAME        355178 non-null object
STREET             355178 non-null object
COMPANY_RANK       355178 non-null int64
RANK               355178 non-null category
ACTIVE             355178 non-null category
AREATYPE           355178 non-null category
SHOPPER_TYPE       355178 non-null category
OWNER_NAME         355178 non-null object
GPS_COORDINATES    355178 non-null object
GEOCODE            355178 non-null category
RURAL              355178 non-null category
SUB_ELEMENT        355178 non-null category
CHANNEL            355178 non-null category
SUB_CHANNEL        355178 non-null category
ELEMENT            355178 non-null category
dtypes: category(14), datetime64[ns](1), int64(10), object(12)
memory usage: 67.1+ MB

In [78]:
df.DOC_DATE = pd.to_datetime(df.DOC_DATE)

In [84]:
df.DOC_DATE.dtype

dtype('<M8[ns]')

In [88]:
df.REF_PJP.dtype

dtype('int64')

In [87]:
df.REF_PJP = df.REF_PJP.astype('int64')

In [93]:
df.REF_DSR.dtype

dtype('int64')

In [92]:
df.REF_DSR = df.REF_DSR.astype('int64')

In [96]:
df.HHT_SRNO.dtype

dtype('float64')

In [97]:
df.HHT_SRNO = df.HHT_SRNO.astype('int64')

In [98]:
df.HHT_SRNO.dtype

dtype('int64')

In [100]:
df.PAYMENT_MODE.dtype

dtype('float64')

In [101]:
df.PAYMENT_MODE = df.PAYMENT_MODE.astype('category')

In [102]:
df.PAYMENT_MODE.dtype

category

In [104]:
df.CHANNEL.dtype

dtype('int64')

In [105]:
df.CHANNEL = df.CHANNEL.astype('category')

In [106]:
df.CHANNEL.dtype

category

In [108]:
df.SUB_CHANNEL.dtype

dtype('int64')

In [109]:
df.SUB_CHANNEL = df.SUB_CHANNEL.astype('category')

In [110]:
df.SUB_CHANNEL.dtype

category

In [111]:
df.ELEMENT.dtype

dtype('int64')

In [112]:
df.ELEMENT = df.ELEMENT.astype('category')

In [113]:
df.ELEMENT.dtype

category

In [116]:
df.SUB_ELEMENT.dtype

category

In [115]:
df.SUB_ELEMENT = df.SUB_ELEMENT.astype('category')

In [119]:
df.RURAL.value_counts()

N    263014
Y     92164
Name: RURAL, dtype: int64

In [120]:
df.RURAL = df.RURAL.astype('category')

In [122]:
df.RURAL.dtype

category

In [123]:
df.ACTIVE.value_counts()

1    264575
0     90603
Name: ACTIVE, dtype: int64

In [124]:
df.ACTIVE = df.ACTIVE.astype('category')

In [125]:
df.ACTIVE.dtype

category

In [127]:
df.SHOPPER_TYPE.value_counts()

RG    246333
01    108482
L1       363
Name: SHOPPER_TYPE, dtype: int64

In [128]:
df.SHOPPER_TYPE = df.SHOPPER_TYPE.astype('category')

In [129]:
df.SHOPPER_TYPE.dtype

category

In [131]:
df.RANK = df.RANK.astype('category')

In [132]:
df.AREATYPE = df.AREATYPE.astype('category')

In [133]:
df.GEOCODE = df.GEOCODE.astype('category')

In [135]:
df.ORDER_STATUS = df.ORDER_STATUS.astype('category')

In [136]:
df.POS_TYPE_CODE = df.POS_TYPE_CODE.astype('category')

In [137]:
df.POS_TYPE = df.POS_TYPE.astype('category')

In [ ]:
df.POS_TYPE = df.POS_TYPE.astype('category')

In [142]:
df['DOC_YEAR'] = DatetimeIndex(df['DOC_DATE']).year
df['DOC_MONTH'] = DatetimeIndex(df['DOC_DATE']).month
df['DOC_DAY'] = DatetimeIndex(df['DOC_DATE']).day

In [153]:
df['DAY_OF_WEEK'] = DatetimeIndex(df['DOC_DATE']).dayofweek //	The day of the week with Monday=0, Sunday=6

In [155]:
df['DAY_OF_YEAR'] = DatetimeIndex(df['DOC_DATE']).dayofyear

In [157]:
df['WEEK_OF_YEAR'] = DatetimeIndex(df['DOC_DATE']).weekofyear

In [162]:
df['WEEK_OF_MONTH'] = (df['DOC_DAY']+7-1)//7

In [168]:
df['WEEK_DAY'] = df[['DOC_DATE']].apply(lambda x: dt.datetime.strftime(x['DOC_DATE'], '%A'), axis=1)

In [173]:
df['QUARTER_OF_DATE'] = DatetimeIndex(df['DOC_DATE']).quarter

In [198]:
df['IS_WEEKDAY'] = df[['DAY_OF_WEEK']].apply(lambda x: x < 5)

In [212]:
df['IS_WEEKDAY'].value_counts()

True     284745
False     70433
Name: IS_WEEKDAY, dtype: int64

In [210]:
df['IS_WEEKEND'] = ~df[['IS_WEEKDAY']]

In [211]:
df['IS_WEEKEND'].value_counts()

False    284745
True      70433
Name: IS_WEEKEND, dtype: int64

In [213]:
df.tail()

,TOWN,TOWN_DESC,LOCALITY,LOCALITY_DESC,SLOCALITY,SLOCALITY_DESC,POP_CODE,POP_NAME,SECTION,SECTION_DESC,POS_TYPE_CODE,POS_TYPE,DOC_DATE,DOC_NO,ORDER_STATUS,PJP,REF_PJP,DSR,REF_DSR,HHT_SRNO,USER_ENTRY,PAYMENT_MODE,MARKET_NAME,STREET,COMPANY_RANK,RANK,ACTIVE,AREATYPE,SHOPPER_TYPE,OWNER_NAME,GPS_COORDINATES,GEOCODE,RURAL,SUB_ELEMENT,CHANNEL,SUB_CHANNEL,ELEMENT,DOC_YEAR,DOC_MONTH,DOC_DAY,DAY_OF_WEEK,DAY_OF_YEAR,WEEK_OF_YEAR,WEEK_OF_MONTH,WEEK_DAY,QUARTER_OF_DATE,IS_WEEKEND,IS_WEEKDAY
355173,T00027,SADDAR,5,SULTANABAD,1,HIJRAT COLONY,T00027005001134,ZULQARNAIN WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01,1002086,0,1,1001,1,101,0,areeb,2.0,STRET 29 SHOP # 1 HIJRAT CLNY,RIZWANIYA MASJID,1,4,1,2,RG,AYAZ,"24.83645713,67.02357356",1,N,16,2,1,1,2013,8,1,3,213,31,1,Thursday,3,False,True
355174,T00027,SADDAR,5,SULTANABAD,5,RAILWAY COLONY,T00027005005036,JAMROOZ WHOLE SALLER,33,RAILWAY COLONY,12,Confectionary,2013-08-01,1094321,0,1,1001,1,101,0,areeb,2.0,BLOCK NO 233 RAILWAY COLONY,NORANI MASJID,1,4,0,2,01,JAMROOZ,"24.84719837,67.01062425",1,N,12,1,1,1,2013,8,1,3,213,31,1,Thursday,3,False,True
355175,T00027,SADDAR,5,SULTANABAD,3,PIDC,T00027005003019,SALAR ZAI WHOLE SALE,36,SULTANABAD,16,Whole Sale,2013-08-01,1131111,0,1,1001,1,101,0,areeb,2.0,GATE # 10 PLOT # 4 HAZARA CHOK,GHOUSIA MASJID,1,4,1,2,RG,SULTAN,"24.8419948,67.01718672",1,N,16,2,1,1,2013,8,1,3,213,31,1,Thursday,3,False,True
355176,T00014,KEMARI,1,BHUTTA VILLAGE,6,QASIM SHAH ROAD,T00014001006030,SAMAD WHOLE SALE,25,KEMARI W/S,12,Confectionary,2013-07-27,7084678,0,7,1007,7,107,0,areeb,2.0,ZAROBI COLONY ASGHAR MASJID,BADAR GROUND,1,4,0,2,01,A.HAMID,"0.0,0.0",1,N,12,1,1,1,2013,7,27,5,208,30,4,Saturday,3,True,False
355177,T00015,MEHMOODABAD,6,MANZOOR COLONY,7,PUNJAB ROAD,T00015006007006,MASHALLAH GENERAL STORE,22,MANZOOR COLNY 2,4,General Store,2013-07-18,8082937,0,8,1008,8,108,0,areeb,2.0,605 MANZOOR COLONY,JADOON CHOWK,1,3,0,2,01,BANARAS,"0.0,0.0",1,N,4,1,1,2,2013,7,18,3,199,29,3,Thursday,3,False,True